{% extends "jp-mining-note/base_back.html" %}

{% set note = namespace() %}
{% set note.side = "back" %}
{% set note.card_type = "main" %}

{% block card_type %}
{{ super() }}
{% include "jp-mining-note/main/partials/card_type.html" %}
{% endblock %}


{% block card_html_top %}
{{ super() }}
{% include "jp-mining-note/main/partials/display/main.html" %}
{% endblock %}

{% block card_html_bottom %}
{{ super() }}
{% endblock %}


{#{% block javascript %}
{{ super() }}
{% include "jp-mining-note/main/js/back.js" %}
{% endblock %}#}
