{% extends "jp-mining-note/base.html" %}

{% set note = namespace() %}
{% set note.side = "front" %}
{% set note.card_type = "main" %}

{% block card_type %}
{{ super() }}
{% include "jp-mining-note/main/partials/card_type.html" %}
{% endblock %}


{% block card_html %}
{{ super() }}
{% include "jp-mining-note/main/partials/display/main.html" %}


<!-- regular display -->
<!-- displays the audio and show/hide button, used only when testing pitch accent -->
{% call IF("PAShowInfo") %}

  <!-- only shown if:
    - word PA should be tested
    - sentence card
      - TSC and hybrid cards already shows the word
  -->
  {% call IF("IsSentenceCard") %}
  {% call utils.if_none("PADoNotTest", "PASeparateWordCard",
      "IsTargetedSentenceCard", "IsClickCard", "IsHoverCard") %}
  {% call utils.if_any("PASeparateSentenceCard", "PATestOnlyWord") %}

    <button id="pa-button">{{ TRANSLATOR.get("show-word-button") }}</button>

  {% endcall %}
  {% endcall %}
  {% endcall %}

  <!--
    if the display is a word: show sentence preview (spoilered)
  -->
  {% call utils.if_none("IsSentenceCard", "IsHoverCard", "IsClickCard", "IsTargetedSentenceCard") %}
    {% filter indent(width=4) %}
    {% include "jp-mining-note/partials/full_sentence_front.html" %}
    {% endfilter %}
  {% endcall %}


  <span id="pa-silence-audio" style="display:none">{{ T("PASilence") }}</span>

  {% call IF("SentenceAudio") %}
    <span id="sentence-audio"> {{ T("SentenceAudio") }} </span>
  {% endcall %}


{% endcall %} {# PAShowInfo #}

{% endblock %}


{% block javascript %}
{{ super() }}
{% include "jp-mining-note/main/js/front.js" %}
{% endblock %}

