{% extends "jp-mining-note/base.html" %}

{% set note = namespace() %}
{% set note.side = "front" %}
{% set note.card_type = "main" %}

{% block card_type %}
{{ super() }}
{% include "jp-mining-note/main/partials/card_type.html" %}
{% endblock %}


{% block card_html %}
{{ super() }}
{% include "jp-mining-note/main/partials/display/main.html" %}


<!-- regular display -->
<!-- displays the audio and show/hide button, used only when testing pitch accent -->
{% call IF("PAShowInfo") %}

  {% call IFNOT("IsAudioCard") %}

    <div class="below-display-wrapper">

      <div class="below-display-top-row">

        <!-- only shown if:
          - word PA should be tested
          - sentence card
            - TSC and hybrid cards already shows the word
        -->
        {% call IF("IsSentenceCard") %}
        {% call utils.if_none("PADoNotTest", "PASeparateWordCard",
            "IsTargetedSentenceCard", "IsClickCard", "IsHoverCard", "IsHintCard") %}
        {% call utils.if_any("PASeparateSentenceCard", "PATestOnlyWord") %}

          <button class="pa-button" id="pa_button">{{ TRANSLATOR.get("show-word-button") }}</button>

        {% endcall %}
        {% endcall %}
        {% endcall %}

        <div id="pa_silence_audio" style="display:none">{{ T("PASilence") }}</div>

        {% call IF("SentenceAudio") %}
          <div id="sentence_audio"> {{ T("SentenceAudio") }} </div>
        {% endcall %}

      </div>

    </div>

  {% endcall %} {# IsAudioCard #}

{% endcall %} {# PAShowInfo #}

{% endblock %}


{#{% block javascript %}
{{ super() }}
{% include "jp-mining-note/main/js/front.js" %}
{% endblock %}#}

