{# impl #}

<div id="hidden_field_Key">{{ T('Key') }}</div>
<div id="hidden_field_PAPositions">{{ T('PAPositions') }}</div>
<div id="hidden_field_Word">{{ T('Word') }}</div>
<div id="hidden_field_WordReading">{{ T('WordReading') }}</div>
<div id="hidden_field_WordReadingHiragana">{{ T('WordReadingHiragana') }}</div>
<div id="hidden_field_AJTWordPitch">{{ T('AJTWordPitch') }}</div>
<div id="hidden_field_PAOverride">{{ T('PAOverride') }}</div>
<div id="hidden_field_PAOverrideText">{{ T('PAOverrideText') }}</div>
<div id="hidden_field_Sentence">{{ T('Sentence') }}</div>
<div id="hidden_field_SentenceReading">{{ T('SentenceReading') }}</div>
<div id="hidden_field_YomichanWordTags">{{ T('YomichanWordTags') }}</div>
<div id="hidden_field_CardCache">{{ T('CardCache') }}</div>
