{# impl #}

{% from "macros/global.html" import T, IF, IFNOT, END with context %}
{% import "macros/utils.html" as utils with context %}

<!-- note that for the PA separate sentence card, the front is ALWAYS a sentence -->
<!-- priority: AltDisplayPASentenceCard -> AltDisplay -> Sentence -->

<!-- option 1: AltDisplayPASentenceCard -->
{% call IF('AltDisplayPASentenceCard') %}
  <div class="expression expression--single expression--sentence" id="display">
    {{ utils.quote_open -}}
    {{ utils.expression_inner_div_altdisplay('furigana:AltDisplayPASentenceCard') }}
    {{- utils.quote_close }}
  </div>
{% endcall%}

{% call IFNOT('AltDisplayPASentenceCard') %}
  {% call IF('AltDisplaySentence') %}

    <div class="outer-display1
        {% call utils.if_none('IsClickCard', 'IsHoverCard', 'IsSentenceCard', 'IsTargetedSentenceCard') %}
          outer-display2
        {% endcall %}
        "
      style="display: inline-block;" id="display">

      <!-- option 2: AltDisplaySentence (only if the original card is a (sentence card or TSC or click or hybrid)) -->
      <!-- if any of (click, hover, sentence, TSC) -->
      <div class="expression expression--single expression--sentence inner-display1">
        {{ utils.quote_open -}}
        {{ utils.expression_inner_div_altdisplay('furigana:AltDisplayPASentenceCard') }}
        {{- utils.quote_close }}
      </div>

      <!-- if none of (click, hover, sentence, TSC) -->
      <div class="expression expression--single expression--sentence inner-display2">
        {{ utils.quote_open -}}
        {{ utils.expression_inner_div('Sentence') }}
        {{- utils.quote_close }}
      </div>
    </div>

  {% endcall %}

  {% call IFNOT('AltDisplaySentence') %}
    <div class="expression expression--single expression--sentence" id="display">
      {{ utils.quote_open -}}
      {{ utils.expression_inner_div('Sentence') }}
      {{- utils.quote_close }}
    </div>
  {% endcall %}


{% endcall %}

{% include "jp-mining-note/partials/hint.html" %}
