@use "../base/common" as common;

/*
 * ================
 *  mobile support
 * ================
 */

// stolen from Anki's scss
.android .replaybutton span {
  text-decoration: none;
  display: inline-flex;
  vertical-align: middle;
  //margin: 3px;
  //border: 0px solid red;

  svg {
    width: 40px;
    height: 40px;

    circle {
        fill: #fff;
        stroke: #414141;
    }

    path {
        fill: #414141;
    }
  }
}


@media (max-width: common.$bp-display-sentence-shrink) {
  :root {
    --sentence-font-size: #{common.px2rem(42px)};
    //--pa-indicator-sent-font-size: #{common.px2rem(35px)};
  }
}


@media (max-width: common.$bp-display-sentence-remove-newlines) {
  /* removes newlines */
  .expression .expression-inner br {
    display: none;
  }
  .expression .expression--hint-sentence .expression-inner br { /* except on hint sentences */
    display: inline;
  }
}


@media (max-width: common.$bp-max-width-backside) {

  :root {
    --word-font-size: #{common.px2rem(48px)};
    --sentence-font-size: #{common.px2rem(28px)};
    //--pa-indicator-word-font-size: #{common.px2rem(35px)};
    //--pa-indicator-sent-font-size: #{common.px2rem(29px)};

    --description-font-size: #{common.px2rem(18px)};
    --description-footer-font-size: #{common.px2rem(8px)};

    --reading-font-size: #{common.px2rem(44px)};
    --reading-pitch-font-size: #{common.px2rem(18px)};
    --full-sentence-font-size: #{common.px2rem(24px)};

    --glossary-font-size: #{common.px2rem(15px)};
    --glossary-font-size--smaller: #{common.px2rem(13px)};

    /* PrimaryDefinitionPicture fields */
    --primary-def-picture-max-width: 200px;
    --primary-def-picture-max-height: 100px;

    /* TODO more portable solution */
    --tooltip-max-width: 350px;
    --tooltip-font-size: #{common.px2rem(12px)};
  }

  .expression {
    border-top: 30px;
  }

  /* removes newlines on all */
  .expression .expression-inner br {
    display: none;
  }
  .expression .expression--hint-sentence .expression-inner br { /* including hint sentences */
    display: none;
  }

  .info-circle svg {
    /* TODO variable */
    width: 13px;
  }

  .dh-left__reading {
    white-space: initial; /* in case the word is too long */
  }

  .dh-left__word-pitch {
    margin-top: 5px;
  }

  .dh-right {
    //max-height: 120px !important;
    max-width: 215px !important;
    padding-left: 20px;

    .dh-right__img {
      //max-height: 120px !important;
      max-width: 215px !important;
    }
  }

  .def-header {
    align-items: flex-start;
  }

  .full-sentence br {
    display: none;
  }

}

@media (max-width: common.$bp-combine-picture) {
  :root {
    //--vertical-sentence-font-size: #{common.px2rem(30px)};
    --word-font-size: #{common.px2rem(36px)};
    --reading-font-size: #{common.px2rem(32px)};
    --reading-pitch-font-size: #{common.px2rem(16px)};
    --sentence-font-size: #{common.px2rem(20px)};
    --full-sentence-font-size: #{common.px2rem(20px)};
    --pa-overline-downstep-height: 0.6em;

    --pa-overline-thickness: 0.1em;
  }

  .night_mode {
    /* TODO test light mode on mobile */
    --background-darken:          rgba(0, 0, 0, 0.16); /* slightly darker to make folder tab stand out more */
  }

  .card {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: var(--mobile-border);
    margin-right: var(--mobile-border);
  }
  #content { /* removes margin on android */
    margin: 0px;
  }

  .card-description {
    margin-top: 10px;
    margin-left: 10px;
  }

  .info-circle-version {
    display: block;
  }

  .mobile .card-description {
    margin-left: 0px;
  }

  // hides card type and version below said card type
  .card-description__card-type, .card-description-ver {
    display: none;
  }

  .info-circle svg {
    /* TODO variable */
    width: 15px;
  }

  .card-description-right {
    margin-right: 10px;
  }

  .mobile .card-description-right {
    margin-right: 0px;
  }

  .pa-indicator svg {
    height: 0.9em;
  }

  .card-header {
    margin-bottom: 5px;
  }

  //.full-sentence-center {
  //  position: relative;
  //}

  .full-sentence {
    padding-left: 5px;
    padding-right: 5px;
  }

  /* removes furigana: takes too much vertical space */
  .dh-left__reading > ruby > rt {
    display: none;
  }

  /* remove background and whatnot */
  .dh-left {
    background: none;
    padding: 0em;
    border-radius: 0px;
    text-align: left;
  }

  .glossary-blockquote {
    /* removes horizontal margins */
    margin: 0px;
  }

  .back-side-restrict-width {
    flex-direction: column-reverse;
  }

  /* margin was previous around full-sentence, but all-definitions is now between!
     thus, we move padding to all-definitions */
  .full-sentence {
    margin: 0;
  }
  .all-definitions {
    margin-top: 0.6em;
    margin-bottom: 0.3em;
  }

  .other-definitions {
    display: none;
  }

  .folder-tab {
    display: flex;
    position: absolute;
    right: 0px;
    top: -40px;
    height: 40px;
    width: 110px;
    padding-right: 7px; /* a hack because the menu button is a bit big */
    background: var(--background-darken);
    justify-content: space-evenly;
    align-items: center;

    user-select: none;
  }

  .folder-tab > .folder-tab__button {
    display: flex; /* centers the items for some reason */
  }

  .folder-tab > .folder-tab__button > svg {
    width: var(--folder-tab-svg-size);
    height: var(--folder-tab-svg-size);
    fill: var(--text-color);
  }

  .folder-tab__button--menu {
    position: relative;
  }

  /* allows arbitrary horizontal text expanding */
  .folder-tab__menu-wrapper {
    position: absolute;
    top: 100%;
    right: 0px;
    width: 300px;
    height: 0px;
    display: none;
    text-align: right;
    z-index: 2; /* makes sure this is the first interactable over external links */
  }

  /* list of collapsible blocks */
  .folder-tab__menu {
    display: inline-flex;
    flex-direction: column;
    text-align: left;
    border-left: auto;
    background-color: var(--tooltip-background-darken);
    padding: 5px;
    padding-right: 10px;
    border-radius: 4px;
  }

  .folder-tab__menu-label {
    --label-font-size: #{common.px2rem(24px)};
    --svg-size: #{common.px2rem(32px)};
    display: flex;
    align-items: center;
    font-size: var(--label-font-size);

    .folder-tab-label-check {
      visibility: hidden;
      display: flex; /* removes extra space for some reason */

      svg {
        width: var(--svg-size);
        fill: var(--accent);
      }
    }
  }

  /* bold when an item is selected */
  .folder-tab__menu > input:checked + label {
    font-weight: bold;
    color: var(--accent);

    > .folder-tab-label-check {
      visibility: visible;
    }
  }

  .folder-tab__menu > input:disabled + label {
    /* takes precedence over the above! */
    /* ASSUMPTION: primary definition is never disabled */
    color: var(--text-color--4);
  }

  .folder-tab__menu > input {
    display: none;
  }

  /* */
  .folder-tab > input:checked + label > .folder-tab__menu-wrapper {
    display: block;
  }





  /* making the footer display */
  //.card-footer {
  //  display: block;
  //  position: fixed;
  //  left: 0;
  //  right: 0;
  //  bottom: 0;
  //  height: var(--footer-height);
  //  background: var(--background-darken);
  //}
  //.header-main-wrapper {
  //  height: calc(100vh - var(--footer-height));
  //  overflow: scroll;
  //}

  .card-main {
    // TODO adjust if no image, etc.
    margin-bottom: var(--footer-height);
  }

  //body {
  //  margin: 0px;
  //  padding: 0px;
  //}
  // TODO move these elsewhere!
  //.dh-right {
  //  display: none;
  //}
  //.dh-left__audio-buttons {
  //  display: none;
  //}

  .card-wrapper { /* re-adds margin from body */
  }

  .dh-right {
    position: fixed;
    max-height: var(--mobile-footer-image-size) !important;
    bottom: var(--mobile-border);
    right: var(--mobile-border);
    padding-left: 0px;

    z-index: 1; /* so audio buttons and picture can be interacted with */

    .dh-right__img {
      max-height: var(--mobile-footer-image-size) !important;
    }
  }

  .dh-right__svg-eye {
    display: none !important;
  }

  /* moves play buttons to left */
  // TODO shouldn't be --left? remove?
  .dh-left__audio-buttons {
    text-align: left;
    position: fixed;
    bottom: var(--mobile-border);
    left: var(--mobile-border);

    z-index: 1; /* so audio buttons and picture can be interacted with */
  }

  /* increases size of replay button */
  //.android .replaybutton span svg {
  //  width: 50px;
  //  height: 50px;
  //}


  //.android .dh-left {
  //  padding-left:   8px;
  //  padding-right:  8px;
  //  padding-bottom: 8px;
  //}

  //.dh-left__audio-buttons {
  //  padding-top: 10px;
  //}

}

