@use "../base/common" as common;

/*
 * ================
 *  mobile support
 * ================
 */

// stolen from Anki's scss
.android .replaybutton span {
  text-decoration: none;
  display: inline-flex;
  vertical-align: middle;
  //margin: 3px;
  //border: 0px solid red;

  svg {
    width: 40px;
    height: 40px;

    circle {
        fill: #fff;
        stroke: #414141;
    }

    path {
        fill: #414141;
    }
  }
}


@media (max-width: common.$bp-display-sentence-shrink) {
  :root {
    --sentence-font-size: #{common.px2rem(42px)};
    //--pa-indicator-sent-font-size: #{common.px2rem(35px)};
  }
}


@media (max-width: common.$bp-display-sentence-remove-newlines) {
  /* removes newlines */
  .expression .expression-inner br {
    display: none;
  }
}


@media (max-width: common.$bp-max-width-backside) {

  :root {
    --word-font-size: #{common.px2rem(55px)};
    --sentence-font-size: #{common.px2rem(35px)};
    //--pa-indicator-word-font-size: #{common.px2rem(35px)};
    //--pa-indicator-sent-font-size: #{common.px2rem(29px)};

    --description-font-size: #{common.px2rem(18px)};
    --description-footer-font-size: #{common.px2rem(8px)};

    --reading-font-size: #{common.px2rem(44px)};
    --reading-pitch-font-size: #{common.px2rem(18px)};
    --full-sentence-font-size: #{common.px2rem(24px)};

    --glossary-font-size: #{common.px2rem(15px)};
    --glossary-font-size--smaller: #{common.px2rem(13px)};

    /* PrimaryDefinitionPicture fields */
    --primary-def-picture-max-width: 200px;
    --primary-def-picture-max-height: 100px;

    /* TODO more portable solution */
    --tooltip-max-width: 350px;
    --tooltip-font-size: #{common.px2rem(12px)};
  }

  .expression {
    border-top: 30px;
  }

  /* removes newlines on all */
  .expression .expression-inner br {
    display: none;
  }

  .info-circle svg {
    /* TODO variable */
    width: 13px;
  }

  .dh-left__reading {
    white-space: initial; /* in case the word is too long */
  }

  .dh-left__word-pitch {
    margin-top: 0px;
  }

  .dh-right {
    //max-height: 120px !important;
    max-width: 215px !important;
    padding-left: 20px;

    .dh-right__img {
      //max-height: 120px !important;
      max-width: 215px !important;
    }
  }

  .def-header {
    align-items: flex-start;
  }

  .full-sentence br {
    display: none;
  }

}

@media (max-width: common.$bp-combine-picture) {
  :root {
    --vertical-sentence-font-size: #{common.px2rem(30px)};
    --sentence-font-size: #{common.px2rem(30px)};
    --full-sentence-font-size: #{common.px2rem(20px)};
  }

  .card {
    margin: 5px;
  }

  .card-description {
    margin-top: 10px;
    margin-left: 10px;
  }

  .mobile .card-description {
    margin-left: 0px;
  }

  .card-description__card-type, .card-description-ver {
    display: none;
  }

  .info-circle svg {
    /* TODO variable */
    width: 15px;
  }

  .card-description-right {
    margin-right: 10px;

    /* temporarily removing these for the mobile class since they clog up the space */
    .frequencies {
      display: none;
    }

    .card-description-ver {
      display: block;
    }
  }

  .mobile .card-description-right {
    margin-right: 0px;
  }


  // shows in header
  .card-description .pa-indicator {
    display: inline-flex;
    margin-left: 30px;
    font-size: 15px;
  }

  // hides the pa indicator outside the header
  .expression-box .pa-indicator > .pa-indicator__svg {
    display: none;
  }

  //.pa-indicator {
  //  /* same size as info circle */
  //  // TODO
  //  //font-size: var(--pa-indicator-word-font-size) !important;
  //  font-size: common.px2rem(35px);
  //}

  //.pa-indicator__svg {
  //  position: absolute;
  //  top: 1px;
  //  left: 30px;
  //}


  .full-sentence {
    padding-left: 10px;
    padding-right: 10px;
  }

  .dh-right {
    position: absolute;
    max-height: 60px !important;
    bottom: 10px;
    right: 10px;
    padding-left: 0px;

    .dh-right__img {
      max-height: 60px !important;
    }
  }

  .dh-right__svg-eye {
    display: none !important;
  }

  .android .dh-left {
    padding-left:   8px;
    padding-right:  8px;
    padding-bottom: 8px;
  }

  .dh-left__audio-buttons {
    padding-top: 10px;
    //text-align: left;
  }

  //.android .dh-left__audio-buttons {
  //  padding-top: 14px;
  //  //text-align: left;
  //}

  //.android {
  //  --gamer: 30px;
  //  .dh-left__audio-buttons {
  //    //line-height: var(--gamer);
  //    font-size: var(--gamer)
  //  }

  //  .replaybutton {
  //    height: var(--gamer);
  //    width: var(--gamer);

  //    border-radius: 50%;
  //    border: solid 1px red;
  //  }
  //}


  // moves play buttons to left ONLY if picture field exists
  .dh-left__audio-buttons--left {
    text-align: left;
  }

  // removes scrollbar
  // https://stackoverflow.com/questions/16670931/hide-scroll-bar-but-while-still-being-able-to-scroll
  //.card {
  //  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  //  scrollbar-width: none;  /* Firefox */
  //}
  //.card::-webkit-scrollbar {
  //  display: none;  /* Safari and Chrome */
  //}
}





