{# idk #}


{% import "modules/example/main.js" as js with context %}


{# required boilerplate #}
{% set example = namespace() %}
{% set example.id = "example" %}

{# interface for modules that change javascript #}
{% set example.js = JavascriptContainer(example.id) %}



{# create any variable if necessary, with TextContainer #}
{% set example.foo = TextContainer(example.id) %}

{% set foo %}
<div>example foo</div>
{% endset %}

{{ example.foo.set_back(foo) }}}

{# then call with {{ example.foo.get() }} #}
