{# idk #}


{% import "modules/example/main.js" as js with context %}


{# required boilerplate #}
{% set MOD = namespace() %}
{% set MOD.id = "example" %}

{# interface for modules that change javascript #}
{% set MOD.js = JavascriptContainer(MOD.id) %}



{# create any variable if necessary, with TextContainer #}
{% set MOD.foo = TextContainer(MOD.id) %}

{% set foo %}
<div>example foo</div>
{% endset %}

{{ MOD.foo.set_back(foo) }}}

{# then call with:

  {% from "modules/example/main.html" import MOD as example_module %}
  {{ example_module.foo.get() }}

#}
