@use "../default/common" as common;

/* Makes JMDict italic */
anki-editable ol li[data-details="JMdict (English)"] .dict-group__tag-list {
  font-style: italic;
}

/* greys out dictionary entry for jmdict */
anki-editable ol li[data-details="JMdict (English)"] .dict-group__tag-list .dict-group__tag--dict {
  // TODO light mode
  color: var(--text-color--3);
}



.pa-graphs__group[data-details="NHK"] .pa-graphs__dictionary {
  @include common.bold_highlight;
  font-weight:  bold;
}
.pa-graphs__group[data-details="大辞泉"] .pa-graphs__dictionary {
  @include common.bold_highlight;
  font-weight:  bold;
}

