{# gathers all the modules together in one `modules` variable #}

{% set modules = {} %}
{% set _module_ids = [] %}

{% if COMPILE_OPTIONS("allow-user-defined-modules").item() %}

  {% do _module_ids.extend(COMPILE_OPTIONS("enabled-modules").list()) %}

{% else %}
  {# ORDER MATTERS HERE! #}
  {# img_utils is ran after auto_pitch_accent to properly calculate the height of the left div #}
  {% set all_module_ids = ["time-performance", "sent-utils", "auto-highlight-word", "kanji-hover", "auto-pitch-accent", "img-utils-minimal", "img-utils", "customize-open-fields", "word-indicators", "info-circle-utils", "fix-ruby-positioning", "check-duplicate-key"] %}

  {% for mid in all_module_ids %}
    {% if mid in COMPILE_OPTIONS("enabled-modules").list() %}
      {% do _module_ids.append(mid) %}
    {% endif %}
  {% endfor %}

{% endif %}



{# searches for dependencies (this is just a basic DFS) #}
{% macro _visit_node(node, visited_cache) %}
  {% if node not in visited_cache %}
    {% do visited_cache.append(node) %}
    {% set mod_path = ("modules/" + node + "/main.html") %}
    {% from mod_path import MOD as m with context %}
    {% if m.dependencies is defined %}
      {% for dep in m.dependencies %}
        {{ _visit_node(dep, visited_cache) }}
      {% endfor %}
    {% endif %}
  {% endif %}
{% endmacro %}

{% macro _update_module_ids_with_deps() %}

  {% set _visited_cache = [] %} {# shallow copy #}
  {% for mid in _module_ids %}
    {{ _visit_node(mid, _visited_cache) }}
  {% endfor %}
  {{ _module_ids.clear() }}
  {{ _module_ids.extend(_visited_cache) }}

{% endmacro %}

{{ _update_module_ids_with_deps() }}


{% for mod_name in _module_ids %}

  {% set mod_path = ("modules/" + mod_name + "/main.html") %}
  {% from mod_path import MOD as m with context %}
  {% do modules.update({mod_name: m}) %}

{% endfor %}



