{# gathers all the modules together in one `modules` variable #}

{% set modules = [] %}
{% set _module_ids = [] %}

{% if COMPILE_OPTIONS("allow-user-defined-modules").item() %}

  {% set _module_ids = COMPILE_OPTIONS("enabled-modules").list() %}

{% else %}
  {# ORDER MATTERS HERE! #}
  {# img_utils is ran after auto_pitch_accent to properly calculate the height of the left div #}
  {% set all_module_ids = ["sent-utils", "kanji-hover", "auto-pitch-accent", "img-utils", "customize-open-fields"] %}

  {% for mid in all_module_ids %}
    {% if mid in COMPILE_OPTIONS("enabled-modules").list() %}
      {% do _module_ids.append(mid) %}
    {% endif %}
  {% endfor %}

{% endif %}

{% for mod_name in _module_ids %}

  {% set mod_path = ("modules/" + mod_name + "/main.html") %}
  {% from mod_path import MOD as m with context %}
  {% do modules.append(m) %}

{% endfor %}



