{# base back #}

{%- from "macros/global.html" import T, IF, IFNOT, END with context -%}
{%- import "macros/utils.html" as utils with context -%}

{%- from "jp-mining-note/macros/def_header.html" import def_header with context -%}
{%- from "jp-mining-note/macros/card_header.html" import card_header with context -%}
{%- from "jp-mining-note/macros/card_main_back.html" import card_main_back with context -%}
{%- from "jp-mining-note/macros/card_footer.html" import card_footer with context -%}

{# DO NOT DELETE THIS #}
{% include "jp-mining-note/partials/compile_options_comment.html" %}

{% include "jp-mining-note/partials/hidden_back.html" %}



{% set _card_type %}
{% block card_type %}
{% endblock %}
{% endset %}

{% set _card_html_top %}
{% block card_html_top %}
{% endblock %}
{% endset %}

{% set _card_html_bottom %}
{% block card_html_bottom %}

  {% filter indent(2) %}
  {{ def_header() }}
  {% endfilter %}

  <div class="back-side-restrict-width">

    {% filter indent(4) %}
    {% include "jp-mining-note/partials/full_sentence.html" %}
    {% include "jp-mining-note/partials/all_definitions.html" %}
    {% endfilter %}

  </div>

{% endblock %}
{% endset %}

<div class="jpmn jpmn--back jpmn--{{CARD_INFO('card-type').item()}}" id="jpmn">

  {% filter indent(4) %}
  {{ card_header(True, _card_type) }}

  {{ card_main_back(_card_html_top, _card_html_bottom) }}
  {% endfilter %}

  {% filter indent(2) %}
  {{ card_footer() }}
  {% endfilter %}

</div> <!-- card-wrapper -->


<!--
  https://codeconvey.com/html-image-zoom-on-click/
  http://www.liangshunet.com/en/202005/743233073.htm
  https://stackoverflow.com/questions/8449933/how-to-transition-css-display-opacity-properties
  https://www.javascripttutorial.net/dom/css/add-styles-to-an-element/
  https://stackoverflow.com/questions/507138/how-to-add-a-class-to-a-given-element
-->
<!-- The Modal -->
<div id="modal" class="modal">
  <img class="modal-img" id="bigimg">
</div>


<div class="popup-menu" id="popup_menu"></div>

{% include "jp-mining-note/partials/mobile_popup.html" %}

<!-- the script must be placed at the very bottom for it to work with ankidroid -->
{% include "jp-mining-note/partials/javascript.html" %}

