{# test #}

{%- from "macros/global.html" import T, IF, IFNOT, END with context -%}
{%- import "macros/utils.html" as utils with context -%}

{%- if note.field_restrict is defined and note.field_restrict -%}
{%- for x in note.field_restrict -%}
{{ IF(x) }}
{% endfor -%}
{%- endif -%}

{% include "jp-mining-note/partials/compile_options_comment.html" %}


<script>
{% block top_javascript %}
{% include "jp-mining-note/logger.js" %}
{% endblock %}
</script>

{% if not COMPILE_OPTIONS("hardcoded-runtime-options").item() %}
<script onerror="optionsNotFound();" src="_jpmn-options.js"></script>
{% endif %} {# COMPILE_OPTIONS("hardcoded-runtime-options").item() #}


<div class="card-description">
{% filter indent(width=2) %}

  {% block card_type %}
  {% endblock %}

  {% include "jp-mining-note/partials/info_circle.html" %}

  {% include "jp-mining-note/partials/version.html" %}

{% endfilter %}
</div>


{% block card_html %}
{% endblock %}

<div class="popup-menu" id="popup_menu"></div>

<script>
{% block javascript %}
{% endblock %}
</script>




{% if note.field_restrict is defined and note.field_restrict -%}
{%- for x in note.field_restrict | reverse -%}
{{ END(x) }}
{% endfor -%}
{%- endif -%}


