{# gamer #}

{%- from "macros/global.html" import T, IF, IFNOT, END with context -%}
{%- import "macros/utils.html" as utils with context -%}

{%- from "jp-mining-note/macros.html" import def_header with context -%}

{% include "jp-mining-note/partials/compile_options_comment.html" %}


{% include "jp-mining-note/partials/frequencies.html" %}


<script>
{% block top_javascript %}
{% include "jp-mining-note/logger.js" %}
{% endblock %}
</script>

<script onerror="optionsNotFound();" src="_jpmn-options.js"></script>


<!-- hidden fields
     used instead of inserting a template directly into javascript code
     in order to prevent escaping errors (e.g. if the field contains a `"`)
-->
<div class="hidden">
  <div id="hidden_pa_positions">{{ T('PAPositions') }}</div>
  <div id="hidden_word_reading">{{ T('WordReading') }}</div>
  <div id="hidden_ajt_word_pitch">{{ T('AJTWordPitch') }}</div>
  <div id="hidden_pa_override">{{ T('PAOverride') }}</div>
  <div id="tags">{{ T('Tags') }}</div>

  <!-- THIS IS A HACK to ensure the "_field.css" and "_editor.css" file is included upon Anki export -->
  <img src="_field.css">
  <img src="_editor.css">
</div>



<div class="card-description">
{% filter indent(width=2) %}

  {% block card_type %}
  {% endblock %}

  {% include "jp-mining-note/partials/info_circle.html" %}

  {% include "jp-mining-note/partials/version.html" %}

{% endfilter %}
</div>


{% block card_html_top %}
{% endblock %}

{% include "jp-mining-note/partials/answer_border.html" %}


{% block card_html_bottom %}

{{ def_header() }}

<div id="back_side" class="back-side">

{% include "jp-mining-note/partials/full_sentence.html" %}
{% include "jp-mining-note/partials/all_definitions.html" %}

{% endblock %}

</div> <!-- backside -->


<!--
  https://codeconvey.com/html-image-zoom-on-click/
  http://www.liangshunet.com/en/202005/743233073.htm
  https://stackoverflow.com/questions/8449933/how-to-transition-css-display-opacity-properties
  https://www.javascripttutorial.net/dom/css/add-styles-to-an-element/
  https://stackoverflow.com/questions/507138/how-to-add-a-class-to-a-given-element
-->
<!-- The Modal -->
<div id="modal" class="modal">
  <img class="modal-img" id="bigimg">
</div>


<div class="popup-menu" id="popup_menu"></div>

<script>
{% block javascript %}
{% endblock %}
</script>





