{# base #}

{%- from "macros/global.html" import T, IF, IFNOT, END with context -%}
{%- import "macros/utils.html" as utils with context -%}
{%- from "jp-mining-note/macros/card_header.html" import card_header with context -%}
{%- from "jp-mining-note/macros/card_main_front.html" import card_main_front with context -%}

{%- if note.field_restrict is defined and note.field_restrict -%}
{%- for x in note.field_restrict -%}
{{ IF(x) }}
{% endfor -%}
{%- endif -%}

{# DO NOT DELETE THIS #}
{% include "jp-mining-note/partials/compile_options_comment.html" %}

{% include "jp-mining-note/partials/hidden_front.html" %}

{{ utils.include_js_if_nonempty("jp-mining-note/partials/js/pre.js") }}


{% set _card_type %}
{% block card_type %}
{% endblock %}
{% endset %}

{% set _card_html %}
{% block card_html %}
{% endblock %}
{% endset %}

<div class="{% include "jp-mining-note/partials/jpmn_class_list.html" %}" id="jpmn">

  {% filter indent(2) %}

  {{ card_header(False, _card_type) }}

  {{ card_main_front(_card_html) }}

  {% endfilter %}

</div> <!-- card-wrapper -->


<div class="popup-menu" id="popup_menu"></div>

{% include "jp-mining-note/partials/mobile_popup.html" %}

<!-- the script must be placed at the very bottom for it to work with ankidroid -->
{% include "jp-mining-note/partials/javascript.html" %}

{% if note.field_restrict is defined and note.field_restrict -%}
{%- for x in note.field_restrict | reverse -%}
{{ END(x) }}
{% endfor -%}
{%- endif -%}

