{# impl #}
{% call IF("SecondaryDefinition") %}
  <details class="glossary-details" id="secondary_definition_details">
    <summary>Secondary Definition</summary>
    <blockquote class="glossary-blockquote highlight-bold">
      <div class="glossary-text glossary-text--secondary-definition">
        {{ T("SecondaryDefinition") }}
      </div>
    </blockquote>
  </details>
{% endcall %}
{% call IFNOT("SecondaryDefinition") %}
  <div class="glossary-details glossary-details--grey">
    Secondary Definition
  </div>
{% endcall %}


{% call IF("AdditionalNotes") %}
  <details class="glossary-details glossary-details--small" id="additional_notes_details">
    <summary>Additional Notes</summary>
    <blockquote class="glossary-blockquote glossary-blockquote--small highlight-bold">
      <div class="glossary-text glossary-text--additional-notes">
        {{ T("AdditionalNotes") }}
      </div>
    </blockquote>
  </details>
{% endcall %}
{% call IFNOT("AdditionalNotes") %}
  <div class="glossary-details glossary-details--small glossary-details--grey">
    Additional Notes
  </div>
{% endcall %}

{% call IF("ExtraDefinitions") %}
  <details class="glossary-details glossary-details--small" id="extra_definitions_details">
    <summary>Extra Definitions</summary>
    <blockquote class="glossary-blockquote glossary-blockquote--small highlight-bold">
      <div class="glossary-text glossary-text--extra-definitions">
        {{ T("ExtraDefinitions") }}
      </div>
    </blockquote>
  </details>
{% endcall %}
{% call IFNOT("ExtraDefinitions") %}
  <div class="glossary-details glossary-details--small glossary-details--grey">
    Extra Definitions
  </div>
{% endcall %}


{# not sure if I can optimize this away easily... #}
<div class="outer-display1
    {% call utils.none_of('PAGraphs', 'UtilityDictionaries') %}
      outer-display2
    {% endcall %}"
  id="display">

  <!-- only showed if outer-display2 doesn't exist -->
  <details class="glossary-details glossary-details--small inner-display1" id="extra_info_details">
    <summary>Extra Info</summary>
    <blockquote class="glossary-blockquote glossary-blockquote--small highlight-bold">
      <div class="glossary-text glossary-text--extra-info">

        {% call IF("PAGraphs") %}
          <div class="pa-graphs">
            {{ T("PAGraphs") }}
          </div>
        {% endcall %}

        {% call IF("UtilityDictionaries") %}
          <div class="utility-dicts">
            {{ T("UtilityDictionaries") }}
          </div>
        {% endcall %}

      </div>
    </blockquote>
  </details>

  <!-- only showed if outer-display2 exists -->
  <div class="glossary-details glossary-details--small glossary-details--grey inner-display2">
    Extra Info
  </div>

</div>
