{# man #}

{% from "macros/global.html" import T, IF, IFNOT, END with context %}
{% import "macros/utils.html" as utils with context %}
{% import "jp-mining-note/common.html" as common with context %}

{% set card_type %}
  Cloze Deletion
{% endset %}



{% set front_display %}

  {% call IF('AltDisplay') %}
    <div class="expression expression--single expression--sentence bold-yellow" id="Display">
      {{ utils.quote_open -}}
      {{ T('furigana:AltDisplay') }}
      {{- utils.quote_close }}
    </div>
  {% endcall %}

  {% call IFNOT('AltDisplay') %}
    <div class="expression expression--single expression--sentence bold-yellow" id="Display">
      {{ utils.quote_open -}}
      {{ T('Sentence') }}
      {{- utils.quote_close }}
    </div>
  {% endcall %}

  {{ common.hint }}

{% endset %}

