{% extends "jp-mining-note/base.html" %}

{% set note = namespace() %}
{% set note.side = "front" %}
{% set note.card_type = "cloze_deletion" %}

{% from "jp-mining-note/cloze_deletion/common.html" import card_type, front_display with context %}

{% block card_type %}
  {{ super() }}
  {{ card_type }}
{% endblock %}

{% block card_html %}
  {{ super() }}
  {{ front_display }}
{% endblock %}


{% block javascript %}
  {{ super() }}
  {% include "jp-mining-note/cloze_deletion/front.js" %}
{% endblock %}
