{# impl #}

{% from "macros/global.html" import T, IF, IFNOT, END with context %}
{% import "macros/utils.html" as utils with context %}

<div class="expression expression--single expression--sentence highlight-bold" id="display">
  {{ utils.quote_open -}}

  {%- call IF("AltDisplayAudioCard") -%}
  {{ utils.expression_inner_div_extra(
    "furigana:AltDisplayAudioCard",
    "expression-inner--altdisplay
    expression-inner--cloze-deletion")
  }}
  {%- endcall -%}

  {%- call IFNOT("AltDisplayAudioCard") -%}

    {%- call IF("AltDisplay") -%}
    {{ utils.expression_inner_div_extra(
      "furigana:AltDisplay",
      "expression-inner--altdisplay
      expression-inner--cloze-deletion")
    }}
    {%- endcall -%}
    {%- call IFNOT("AltDisplay") -%}
      {{ utils.expression_inner_div_extra(
        "Sentence",
        "expression-inner--cloze-deletion")
      }}
    {%- endcall -%}

  {%- endcall -%}

  {{- utils.quote_close }}
</div>

{% include "jp-mining-note/partials/hint.html" %}
