
@mixin common_vars {
  --pa-brightness-reduce: 60%;
  --sentence-font-size: 52px;
  --reading-font-size: 55px;
  --full-sentence-font-size: 1.75rem;
  --word-font-size: 80px;
  --description-font-size: 20px;
  --description-footer-font-size: 9px;

  /* TODO dynamic solution */
  --tooltip-max-width: 500px;
  --tooltip-font-size: 14px;

  --dark-mode-accent: #fffd9e;

  --zoom: 1;


  /* external links */
  --external-links-icon-size: 20px;
  --external-links-icon-font-size: 14px;
  --external-links-gap: 3px;
  --external-links-max-icons-per-row: 5; /* assumes one character or one image per icon */
  --external-links-box-shadow: 1px 1px 2px;

  --info-circle-settings-svg-size: 16px;

  /* light mode specific */
  --text-color:                 black;
  --text-color--1:              hsla(0, 0%, 50%, 1);
  --text-color--2:              hsla(0, 0%, 60%, 1);
  --text-color--3:              hsla(0, 0%, 60%, 1);
  --text-color--4:              hsla(0, 0%, 83%, 1);

  /* idea taken from:
   * https://github.com/Ajatt-Tools/AnkiNoteTypes/blob/main/templates/Japanese%20Mined%20Sentences%20(cyphar)/Recognition/back.html
   */
  --text-heiban:                #0a74d0; /* 平板, blue */
  --text-atamadaka:             #d74343; /* 頭高, red */
  --text-nakadaka:              #e8701b; /* 中高, orange */
  --text-odaka:                 #009e1c; /* 尾高, green */
  --text-kifuku:                #7e53c4; /* 起伏, purple */

  --accent:                     #4660f1;
  --background-darken:          rgba(0, 0, 0, 0.05);
  --tooltip-background-darken:  hsla(0, 0%, 100%, 0.98);;

  --pa-overline-color:          var(--accent);
  --pa-no-pron-color:           #2b94f7;
  --pa-nasal-color:             #f12a2a;

  // previously used to have a shadow as the color didn't stand out well enough
  //--highlight-bold-shadow:      0px 0px 0.7em rgba(64, 81, 181, 0.25);
  --highlight-bold-shadow:      initial;
  --highlight-bold-color:       var(--accent);

  --external-links-box-shadow-color: #464646;


  --info-circle-hover-color: #5f5f5f;

  /* slightly different shade of blue */
  --info-circle-leech-color: #3983ff;
  --info-circle-leech-hover-color: #609cff;
  --info-circle-leech-text-color: var(--info-circle-leech-color);

  --info-circle-warning-color: #ff8700;
  --info-circle-warning-hover-color: #ffb341;
  --info-circle-warning-text-color: var(--info-circle-warning-color);

  --info-circle-error-color: #f05c59;
  --info-circle-error-hover-color: #ff8381;
  --info-circle-error-text-color: var(--info-circle-error-color);

  --pa-indicator-sentence-color: #4cd200;
  --pa-indicator-word-color: var(--accent);
  --pa-indicator-none-color: #ec3a2d;

  --hybrid-underline-color: black;

  --image-hover-brightness: 85%;
  --icon-click-brightness: 85%;
}

@mixin night_mode_vars {
  --text-color:                 white;
  --text-color--1:              hsla(0, 0%, 67.5%, 1);
  --text-color--2:              hsla(0, 0%, 67.5%, 1);
  --text-color--3:              hsla(0, 0%, 50%, 1);
  --text-color--4:              hsla(0, 0%, 34.5%, 1);

  --text-heiban:                #59b2ff; /* 平板, blue */
  --text-atamadaka:             #ff6666; /* 頭高, red */
  --text-nakadaka:              #ff9b54; /* 中高, orange */
  --text-odaka:                 #67e47d; /* 尾高, green */
  --text-kifuku:                #af85f4; /* 起伏, purple */

  --accent:                     var(--dark-mode-accent);
  --background-darken:          rgba(0, 0, 0, 0.12);
  --tooltip-background-darken:  rgba(0, 0, 0, 0.9);

  --pa-overline-color:          var(--accent);
  --pa-no-pron-color:           #42a3ff;
  --pa-nasal-color:             #f12a2a;

  --highlight-bold-shadow:      initial;
  --highlight-bold-color:       var(--accent);

  --external-links-box-shadow-color: #000000;


  --info-circle-hover-color: #bdbdbd;

  /* slightly different shade of yellow */
  --info-circle-leech-color: #ead623;
  --info-circle-leech-hover-color: var(--accent);
  --info-circle-leech-text-color: var(--info-circle-leech-hover-color);

  --info-circle-warning-color: #ff8d0d;
  --info-circle-warning-hover-color: #f9c24e;
  --info-circle-warning-text-color: var(--info-circle-warning-hover-color);

  --info-circle-error-color: #f53b39;
  --info-circle-error-hover-color: #fe7776;
  --info-circle-error-text-color: var(--info-circle-error-hover-color);

  --pa-indicator-sentence-color: #62ff73;
  --pa-indicator-word-color: #34dbef;
  --pa-indicator-none-color: #ff6b66;

  --hybrid-underline-color: white;

  --image-hover-brightness: 80%;
  --icon-click-brightness: 80%;
}


@mixin common {
  /*
   * --------------------
   *  dictionary entries
   * --------------------
   */
  .dict-group__tag-list .dict-group__tag:not(:first-child)::before {
    content: ", ";
  }
  .dict-group__tag-list::before {
    content: "(";
  }
  .dict-group__tag-list::after {
    content: ") ";
  }



  /*
   * -------------------
   *  Word pitch accent
   * -------------------
   */

  /* css classes used by the plugin */
  .downstep {
    color: var(--pa-overline-color);
    position: relative;
  }
  .downstep:before {
    content: '';
    width: 2px;
    height: 18%;
    background: var(--pa-overline-color);
    position: absolute;
    display: block;
    top: 0px;
    left: 0px;
  }


  .pitchoverline {
    text-decoration: none !important;
    text-decoration-color: var(--pa-overline-color) !important;
    position: relative;
  }
  .pitchoverline:after {
    content: '';
    width: 100%;
    height: 2px;
    background: var(--pa-overline-color);
    position: absolute;
    top: 0px;
    right: 0px;
  }



  .nopron {
    color: var(--pa-no-pron-color);
  }
  .nasal {
    color: var(--pa-nasal-color);
  }

  .downstep .downstep-inner {
    display: none;
  }

}


@mixin bold-pitch {

  b {
    font-weight: normal;
    filter: opacity(30%);
    font-size: 15px;
  }

  b .pitchoverline:after {
    content: '';
    width: 100%;
    height: 1px;
    background: var(--pa-overline-color);
    position: absolute;
    top: -1px;
    right: -1px;
  }

  b .downstep:before {
    content: '';
    width: 1px;
    height: 25%;
    background: var(--pa-overline-color);
    /*filter: brightness(var(--pa-brightness-reduce));*/
    position: absolute;
    display: block;
    top: -1px;
    left: 0px;
  }

}


@mixin bold_highlight {
  text-shadow:  var(--highlight-bold-shadow);
  color:        var(--highlight-bold-color);
}


@function maxWidthForXIcons($n) {
  @return calc(var(--external-links-icon-size) * $n + ($n - 1) * var(--external-links-gap));
}

