
@use "common";

:root {
  @include common.common_vars;

  --field-gap: 5px;
  --larger-field-gap: 20px;
  --larger-field-gap-top: 15px;

  //--padding-side: 5px;
}

.nightMode {
  @include common.night_mode_vars;
}
