@use "common";

/* makes the primary definition bolded sections colored */
anki-editable[field="PrimaryDefinition"] b,
anki-editable[field="Sentence"] b,
anki-editable[field="SentenceReading"] b,
anki-editable[field="AdditionalNotes"] b,
anki-editable[field="AltDisplaySentence"] b,
anki-editable[field="AltDisplayPASentenceCard"] b,
anki-editable[field="AltDisplayClozeDeletionCard"] b,
anki-editable[field="SecondaryDefinition"] b,
anki-editable[field="PAPositions"] b,
anki-editable[field="PAOverride"] b
{
  @include common.bold_highlight
}


anki-editable[field="AJTWordPitch"],
anki-editable[field="PAOverrideText"]
{
  @include common.bold-pitch;
}




anki-editable[field="FrequenciesStylized"] {
  display: flex;
}

.frequencies__group {
  display: block;
  padding-right: 20px;
}

.frequencies__number {
  text-align: left;
}

.frequencies__number-inner {
}

.frequencies__dictionary {
  text-align: left;
  font-size: 0.5em;
}




anki-editable[field="PAGraphs"] {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.pa-graphs__dictionary-inner:after {
  content: ":";
}




anki-editable[field="PAPositions"] {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.pa-positions__dictionary-inner:after {
  content: ":";
}



@include common.common;



