/* css to collapse certain fields into the same row */

[notetype="JP Mining Note"] .fields {
  //display: flex !important;
  //flex-wrap: wrap;
  //gap: 0px !important;
  //padding: 0px !important;
  //margin: 0px !important;

  //display: grid !important;
  //grid-template-columns: repeat(4, 1fr);
  //gap: 5px !important;

  display: inline-block !important;

  > div {
    display: inline-block !important;
    width: 100%;
    padding-bottom: var(--field-gap);
  }
}


/* index number of where the field group starts (all indices start at 1) */
$field-group-start--word:    2;  /* group of 2 */
$field-group-start--pa:      4;  /* group of 3 */
$field-group-start--binary:  18; /* group of 11 */
$field-group-start--autogen: 38; /* group of 4 */

//$extra-padding-bottom: 8, 10, 13, 16, 37, 40;
$extra-padding-top: 7, 9, 11, 15, 18,19,20,21, 32, 42, 45;

$extra-padding-bottom: 4,5,6, 8, 10, 14, 17, 28,29,30,31, 38,39,40,41, 44;

//$extra-padding-sides: 9, 10, 14, 15, 16;


@mixin combine-row-single($start, $length) {

  @if $length >= 1 {
    > div:nth-child(#{$start}) {
      width: calc(100%/#{$length});
      padding-left: 0px;
    }
  }

  @for $i from ($start+1) to ($start + $length) {
    > div:nth-child(#{$i}) {
      width: calc(100%/#{$length});
      padding-left: var(--field-gap);
    }
  }

}


@mixin combine-row($start, $lengths...) {

  $current-start: $start;
  @each $i in $lengths {
    @include combine-row-single($current-start, $i);
    $current-start: $current-start + $i;
  }
}


@mixin extra-padding-top-remove($indices) {
  @each $i in $indices {
    > div:nth-child(#{$i}) {
      padding-top: 0px;
      border-top: none;
    }
  }
}

@mixin extra-padding-bottom-remove($indices) {
  @each $i in $indices {
    > div:nth-child(#{$i}) {
      padding-bottom: var(--field-gap);
    }
  }
}



[notetype="JP Mining Note"] .fields {

  @each $i in $extra-padding-top {
    > div:nth-child(#{$i}) {
      padding-top: var(--larger-field-gap-top);
      border-top: var(--field-group-border);
    }
  }

  @each $i in $extra-padding-bottom {
    > div:nth-child(#{$i}) {
      padding-bottom: var(--larger-field-gap-bottom);
    }
  }

  //@each $i in $extra-padding-sides {
  //  > div:nth-child(#{$i}) {
  //    padding-left: var(--padding-side);
  //    padding-right: var(--padding-side);
  //  }
  //}


  /* Word, WordReading */
  @include combine-row($field-group-start--word, 2);

  /* PAOverride, PAOverrideText, AJTWordPitch */
  @include combine-row($field-group-start--pa, 3);

  @include combine-row($field-group-start--binary, 4, 3, 3, 4);

  @include combine-row($field-group-start--autogen, 4);

}


@media (max-width: 1000px) {

  [notetype="JP Mining Note"] .fields {

    $remove-top: 20,21;
    $remove-bottom: 4,5, 28,29, 38,39;

    @include extra-padding-top-remove($remove-top);
    @include extra-padding-bottom-remove($remove-bottom);

    @include combine-row($field-group-start--pa, 2, 1);

    @include combine-row($field-group-start--binary, 2, 2, 2, 2, 2, 2, 2);

    @include combine-row($field-group-start--autogen, 2, 2);

  }
}


