{# syntax looks weird to not screw up vim syntax highlighting... #}


{# {{#<name>}} #}
{% macro T(name) -%}
{{ "{" }}{{ "{" }}{{ name }}{{ "}" }}{{ "}" }}
{%- endmacro %}

{# {{#<name>}} #}
{% macro IF(name) -%}
{%- if caller is defined -%}
  {%- if name in ALWAYS_FALSE -%} {# nothing #}
  {%- elif name in ALWAYS_TRUE -%}
  {{- caller() -}}
  {%- else -%}
  {{ "{" }}{{ "{" }}{{ "#" }}{{ name }}{{ "}" }}{{ "}" }}
  {{- caller() -}}
  {{ "{" }}{{ "{" }}{{ "/" }}{{ name }}{{ "}" }}{{ "}" }}
  {%- endif -%}
{%- else -%}
{{- "{" }}{{ "{" }}{{ "#" }}{{ name }}{{ "}" }}{{ "}" -}}
{%- endif -%}
{%- endmacro %}

{# {{^<name>}} #}
{% macro IFNOT(name) -%}
{%- if caller is defined -%}
  {%- if name in ALWAYS_TRUE -%} {# nothing #}
  {%- elif name in ALWAYS_FALSE -%}
  {{- caller() -}}
  {%- else -%}
  {{ "{" }}{{ "{" }}{{ "#" }}{{ name }}{{ "}" }}{{ "}" }}
  {{- caller() -}}
  {{ "{" }}{{ "{" }}{{ "/" }}{{ name }}{{ "}" }}{{ "}" }}
  {%- endif -%}
{%- else -%}
{{- "{" }}{{ "{" }}{{ "^" }}{{ name }}{{ "}" }}{{ "}" -}}
{%- endif -%}
{%- endmacro %}

{# {{/<name>}} #}
{% macro END(name) -%}
{{ "{" }}{{ "{" }}{{ "/" }}{{ name }}{{ "}" }}{{ "}" }}
{%- endmacro %}



