{# syntax looks weird to not screw up vim syntax highlighting... #}
{% from "macros/global.html" import T, IF, IFNOT, END with context %}

{# TODO rename functions? any_of -> if_any, none_of -> if_none #}

{#
 # >>> any_of("A", "B")
 #
 # expands to:
 #
 #     {#A} {#B}
 #     (text)
 #     {/B} {/A}
 #
 # and any other combination with at least one #
 #}
{% macro _any_of(args, text, comment) %}
  {#-
    if any of the args are "always filled", then this entire section will
    always show the text
  -#}

  {#- equivalent to if set.intersection(args, always_filled_fields) -#}
  {%- set anyof = namespace() -%}
  {%- set anyof.always_filled = False -%}
  {%- for a in args -%}
    {%- if a in COMPILE_OPTIONS("always-filled-fields").list() -%}
      {%- set anyof.always_filled = True -%}
    {%- endif -%}
  {%- endfor -%}

  {%- if anyof.always_filled -%}

    {{ text }}

  {%- else -%} {#- otherwise, do as normal -#}

    {#- removes anything that is in never-filled -#}
    {%- set anyof.filtered_args = [] -%}
    {%- for a in args -%}
      {%- if a not in COMPILE_OPTIONS("never-filled-fields").list() -%}
        {%- do anyof.filtered_args.append(a) -%}
      {%- endif -%}
    {%- endfor -%}

    {%- for n in range(1, (2 ** (anyof.filtered_args|length))) -%}
      {%- for i in range(anyof.filtered_args|length) -%}
        {%- set mask = 1 | bitwise_shift_left(i) -%}
        {%- if comment -%}///{%- endif -%}
        {%- if mask | bitwise_and(n) -%}
          {{ "{" }}{{ "{" }}{{ "#" }}{{anyof.filtered_args[i]}}{{ "}" }}{{ "}" }}
        {%- else -%}
          {{ "{" }}{{ "{" }}{{ "^" }}{{anyof.filtered_args[i]}}{{ "}" }}{{ "}" }}
        {%- endif -%}
      {%- endfor -%}

      {{ text }}

      {%- for name in anyof.filtered_args | reverse -%}
        {%- if comment -%}///{%- endif -%}{{ "{" }}{{ "{" }}{{ "/" }}{{name}}{{ "}" }}{{ "}" }}
      {%- endfor -%}

    {%- endfor %}
  {% endif %}

{% endmacro %}

{% macro any_of() -%}
{{ _any_of(args=varargs, text=caller(), comment=False) }}
{%- endmacro %}

{% macro any_of_js() -%}
{{ _any_of(args=varargs, text=caller(), comment=True) }}
{%- endmacro %}


{#
 # >>> any_of_str("A", "B")
 #
 # expands to:
 #
 #     {#A}a{/A}{#B}a{/B}
 #
 # meant to be used like '{{ any_of_str("A", "B") }}'
 #}
{% macro any_of_str() %}

  {#- equivalent to if set.intersection(args, always_filled_fields) -#}
  {%- set anyof = namespace() -%}
  {%- set anyof.always_filled = False -%}
  {%- for a in varargs -%}
    {%- if a in COMPILE_OPTIONS("always-filled-fields").list() -%}
      {%- set anyof.always_filled = True -%}
    {%- endif -%}
  {%- endfor -%}

  {%- if anyof.always_filled -%}
    ALWAYS_FILLED
  {%- else -%}
    {%- for name in varargs -%}
      {%- if name not in COMPILE_OPTIONS("never-filled-fields").list() -%}
        {{ "{" }}{{ "{" }}{{ "#" }}{{name}}{{ "}" }}{{ "}" }}FILLED{{ "{" }}{{ "{" }}{{ "/" }}{{name}}{{ "}" }}{{ "}" }}
      {%- endif -%}
    {%- endfor -%}
  {%- endif -%}
{% endmacro %}



{#
 # >>> none_of("A", "B")
 #
 # expands to:
 #
 #     {^A} {^B}
 #     (text)
 #     {/B} {/A}
 #
 #}
{% macro _none_of(args, text, comment) %}
  {#-
    if any of the args are "never filled", then this entire section will
    never show the text
  -#}

  {#- equivalent to if set.intersection(args, never_filled_fields) -#}
  {%- set noneof = namespace() -%}
  {%- set noneof.never_filled = False -%}
  {%- for a in args -%}
    {%- if a in COMPILE_OPTIONS("never-filled-fields").list() -%}
      {%- set noneof.never_filled = True -%}
    {%- endif -%}
  {%- endfor -%}

  {%- if not noneof.never_filled -%}

    {#- removes anything that is in always-filled -#}
    {%- set noneof.filtered_args = [] -%}
    {%- for a in args -%}
      {%- if a not in COMPILE_OPTIONS("always-filled-fields").list() -%}
        {%- do noneof.filtered_args.append(a) -%}
      {%- endif -%}
    {%- endfor -%}

    {%- for name in noneof.filtered_args -%}
      {%- if comment -%}///{%- endif -%}{{ "{" }}{{ "{" }}{{ "^" }}{{name}}{{ "}" }}{{ "}" }}
    {%- endfor -%}

    {{ text }}

    {%- for name in noneof.filtered_args | reverse -%}
      {%- if comment -%}///{%- endif -%}{{ "{" }}{{ "{" }}{{ "/" }}{{name}}{{ "}" }}{{ "}" }}
    {%- endfor -%}

  {%- endif -%}

{% endmacro %}

{% macro none_of() -%}
{{ _none_of(args=varargs, text=caller(), comment=False) }}
{%- endmacro %}

{% macro none_of_js() -%}
{{ _none_of(args=varargs, text=caller(), comment=True) }}
{%- endmacro %}




{% macro opt() -%}
  {%- autoescape false -%}
  {{ "getSetting([" }}
  {%- for name in varargs -%}
    {{ "'" }}{{name}}{{ "'," }}
  {%- endfor -%}
  {{ "]," }}{{NOTE_OPTS(*varargs).item(javascript=True)}}{{ ")" }}
  {%- endautoescape -%}
{%- endmacro %}



{% set quote_open -%}
  {%- autoescape false -%}
  <span class="sentence-quote sentence-quote--open">
    {{- NOTE_OPTS("sentence", "auto-quote-open").item() -}}
  </span><span>
  {%- endautoescape -%}
{%- endset -%}

{% set quote_close -%}
  {%- autoescape false -%}
  </span><span class="sentence-quote sentence-quote--close">
    {{- NOTE_OPTS("sentence", "auto-quote-close").item() -}}
  </span>
  {%- endautoescape -%}
{%- endset -%}

{# adds quotes (if sentence), always attempts to use altdisplay instead of name #}
{% macro prioritize_alt_display(name, sentence=False) -%}
  {%- if sentence -%} {{quote_open}} {%- endif -%}
  {%- call IF("AltDisplay") %}{{ T("furigana:AltDisplay") }}{% endcall -%}
  {%- call IFNOT("AltDisplay") %}{{ T(name) }}{% endcall -%}
  {%- if sentence -%} {{quote_close}} {%- endif -%}
{%- endmacro -%}
