{# syntax looks weird to not screw up vim syntax highlighting... #}
{% from "macros/global.html" import T, IF, IFNOT, END with context %}


{#
 # >>> any_of("A", "B")
 #
 # expands to:
 #
 #     {#A} {#B}
 #     (text)
 #     {/B} {/A}
 #
 # and any other combination with at least one #
 #}
{% macro _any_of(args, text, comment) %}
  {% for n in range(1, (2 ** (args|length))) %}
    {% for i in range(args|length) -%}
      {%- set mask = 1 | bitwise_shift_left(i) -%}
      {%- if comment -%}///{%- endif -%}
      {%- if mask | bitwise_and(n) -%}
        {{ "{" }}{{ "{" }}{{ "#" }}{{args[i]}}{{ "}" }}{{ "}" }}
      {%- else -%}
        {{ "{" }}{{ "{" }}{{ "^" }}{{args[i]}}{{ "}" }}{{ "}" }}
      {%- endif -%}
    {%- endfor -%}

    {{ text }}

    {%- for name in args | reverse -%}
      {%- if comment -%}///{%- endif -%}{{ "{" }}{{ "{" }}{{ "/" }}{{name}}{{ "}" }}{{ "}" }}
    {%- endfor -%}

  {%- endfor %}
{% endmacro %}

{% macro any_of() -%}
{{ _any_of(args=varargs, text=caller(), comment=False) }}
{%- endmacro %}

{% macro any_of_js() -%}
{{ _any_of(args=varargs, text=caller(), comment=True) }}
{%- endmacro %}


{#
 # >>> any_of_str("A", "B")
 #
 # expands to:
 #
 #     {#A}a{/A}{#B}a{/B}
 #
 # meant to be used like '{{ any_of_str("A", "B") }}'
 #}
{% macro any_of_str() %}
  {%- for name in varargs -%}
    {{ "{" }}{{ "{" }}{{ "#" }}{{name}}{{ "}" }}{{ "}" }}a{{ "{" }}{{ "{" }}{{ "/" }}{{name}}{{ "}" }}{{ "}" }}
  {%- endfor -%}
{% endmacro %}



{#
 # >>> none_of("A", "B")
 #
 # expands to:
 #
 #     {^A} {^B}
 #     (text)
 #     {/B} {/A}
 #
 #}
{% macro _none_of(args, text, comment) %}
  {%- for name in args -%}
    {%- if comment -%}///{%- endif -%}{{ "{" }}{{ "{" }}{{ "^" }}{{name}}{{ "}" }}{{ "}" }}
  {%- endfor -%}

  {{ text }}

  {%- for name in args | reverse -%}
    {%- if comment -%}///{%- endif -%}{{ "{" }}{{ "{" }}{{ "/" }}{{name}}{{ "}" }}{{ "}" }}
  {%- endfor -%}
{% endmacro %}

{% macro none_of() -%}
{{ _none_of(args=varargs, text=caller(), comment=False) }}
{%- endmacro %}

{% macro none_of_js() -%}
{{ _none_of(args=varargs, text=caller(), comment=True) }}
{%- endmacro %}


{% macro prioritize_alt_display(name) -%}
  {%- call IF("AltDisplay") %}{{ T("furigana:AltDisplay") }}{% endcall -%}
  {%- call IFNOT("AltDisplay") %}{{ T(name) }}{% endcall -%}
{%- endmacro %}

