{# impl #}

{% from "macros/global.html" import T, IF, IFNOT, END with context %}
{% import "macros/utils.html" as utils with context %}

{% call IF('AltDisplay') %}
  <div class="expression expression--single expression--sentence bold-yellow" id="display">
    {{ utils.quote_open -}}
    {{ T('furigana:AltDisplay') }}
    {{- utils.quote_close }}
  </div>
{% endcall %}

{% call IFNOT('AltDisplay') %}
  <div class="expression expression--single expression--sentence bold-yellow" id="display">
    {{ utils.quote_open -}}
    {{ T('Sentence') }}
    {{- utils.quote_close }}
  </div>
{% endcall %}

{% include "jp-mining-note/partials/hint.html" %}
