{# sentence utilities #}


{% import "modules/sent-utils/main.js" as js with context %}


{% set MOD = namespace() %}
{% set MOD.id = "sent-utils" %}

{% set MOD.js = JavascriptContainer(MOD.id) %}

{# sets all, and un-sets pa_word #}
{{ MOD.js.functions.set_all(js.functions) }}
{{ MOD.js.functions.set_card_type("pa_word", "") }}

{{ MOD.js.run.set_card_type("main", js.run_main) }}
{{ MOD.js.run.set_card_type("pa_sent", js.run_pa_sent) }}
{{ MOD.js.run.set_card_type("cloze_deletion", js.run_cloze_deletion) }}


