{% extends "jp-mining-note/base_back.html" %}

{% set note = namespace() %}
{% set note.side = "back" %}
{% set note.card_type = "pa_sent" %}

{% from "jp-mining-note/macros/def_header.html" import def_header with context %}

{% block card_type %}
{{ super() }}
{% include "jp-mining-note/pa_sent/partials/card_type.html" %}
{% endblock %}

{% block card_html_top %}
{{ super() }}
{% include "jp-mining-note/pa_sent/partials/front_display.html" %}
{% endblock %}

{% block card_html_bottom %}

{{ def_header(border_class="dh-left--blue-border") }}

<div class="back-side-restrict-width">

{% include "jp-mining-note/partials/full_sentence.html" %}
{% include "jp-mining-note/partials/all_definitions.html" %}

</div>

{% endblock %}

{#{% block javascript %}
{{ super() }}
{% include "jp-mining-note/base_back.js" %}
{% endblock %}#}



