{# man #}

{% extends "jp-mining-note/base.html" %}

{% set note = namespace() %}
{% set note.side = "front" %}
{% set note.card_type = "pa_sent" %}
{% set note.field_restrict = ["PASeparateSentenceCard", "SentenceAudio"] %}

{% block card_type %}
{{ super() }}
{% include "jp-mining-note/pa_sent/partials/card_type.html" %}
{% endblock %}

{% block card_html %}
{{ super() }}
{% include "jp-mining-note/pa_sent/partials/front_display.html" %}
{% endblock %}


{#{% block javascript %}
{{ super() }}
{% include "jp-mining-note/base.js" %}
{% endblock %}#}

