{# impl #}

{% from "macros/global.html" import T, IF, IFNOT, END with context %}
{% import "macros/utils.html" as utils with context %}

<!-- note that for the PA separate word card, the front is ALWAYS a word -->
<!-- priority: AltDisplay -> Word -->

<!-- option 1: AltDisplay (only if the original card is not a sentence card or hybrid card) -->
<div class="outer-display1
    {% call utils.if_none('IsClickCard', 'IsHoverCard', 'IsSentenceCard', 'IsTargetedSentenceCard') %}
    {% call IF('AltDisplaySentence') %}
      outer-display2
    {% endcall %}
    {% endcall %}
    "
  id="display">

  <!-- if NOT (altdisplay, AND none of (click, hover, sentence, TSC)) -->
  <div class="expression expression--single expression--word inner-display1">
    {{ utils.expression_inner_div('Word') }}
  </div>

  <!-- if altdisplay, AND none of (click, hover, sentence, TSC) -->
  <div class="expression expression--single expression--word inner-display2">
    {{ utils.expression_inner_div_altdisplay('furigana:AltDisplaySentence') }}
  </div>
</div>

{% include "jp-mining-note/partials/hint.html" %}

