{# idk #}

{% from "modules/img_utils/main.html" import img_utils with context %}
{# {% from "modules/sentences/main.html" import sentences with context %} #}
{% from "modules/kanji_hover/main.html" import kanji_hover with context %}
{% from "modules/auto_pitch_accent/main.html" import auto_pitch_accent with context %}

{# img_utils is ran after auto_pitch_accent to properly calculate the height of the left div #}
{# {% set modules = [sentences, kanji_hover, auto_pitch_accent, img_utils] %} #}
{% set modules = [kanji_hover, auto_pitch_accent, img_utils] %}

