/*
 * a hack to no longer depend on the installed font (to speed up card load times).
 * see:
 * https://github.com/ankidroid/Anki-Android/issues/4856
 * https://github.com/ankidroid/Anki-Android/issues/5213
 */

@use "../base/common" as common;

.android {
  .card {
    font-family: common.$jp-sans-android;
  }

  .card-description {
    font-family: common.$jp-serif-android;
  }

  .card-description-right {
    font-family: common.$jp-serif-android;
  }

  .info-circle-text {
    font-family: common.$jp-sans-android;
  }

  .expression {
    font-family: common.$jp-serif-android;
  }

  .expression--single {
    font-family: common.$jp-serif-android;
  }

  .dh-left__reading {
    font-family: common.$jp-serif-android;
  }

  .hover-tooltip-wrapper {
    font-family: common.$jp-sans-android;
  }

  .full-sentence {
    font-family: common.$jp-serif-android;
  }

  .frequencies {
    font-family: common.$jp-serif-android;
  }


}

