{% extends "jp-mining-note/base_back.html" %}

{% set note = namespace() %}
{% set note.side = "back" %}
{% set note.card_type = "cloze_deletion" %}

{% from "jp-mining-note/macros.html" import def_header with context %}

{% block card_type %}
{{ super() }}
{% include "jp-mining-note/cloze_deletion/partials/card_type.html" %}
{% endblock %}

{% block card_html_top %}
{{ super() }}
{% include "jp-mining-note/cloze_deletion/partials/front_display.html" %}
{% endblock %}

{% block card_html_bottom %}

{{ def_header() }}

<div id="back_side" class="back-side">

{% include "jp-mining-note/partials/full_sentence.html" %}

<!-- hides primary definition since the definition is not important for this card -->
{% call IF('PrimaryDefinition') %}
  <details class="glossary-details" id="primary_definition_details">
    <summary>{{ TRANSLATOR.get('primary-definition') }}</summary>
    {% include "jp-mining-note/partials/primary_definition.html" %}
</details>
{% endcall %}

{% include "jp-mining-note/partials/other_definitions.html" %}

{% endblock %}

{% block javascript %}
{{ super() }}
{% include "jp-mining-note/base_back.js" %}
{% endblock %}



