{% extends "jp-mining-note/base_back.html" %}

{% set note = namespace() %}
{% set note.side = "back" %}
{% set note.card_type = "cloze_deletion" %}

{% from "jp-mining-note/macros/def_header.html" import def_header with context %}

{% block card_type %}
{{ super() }}
{% include "jp-mining-note/cloze_deletion/partials/card_type.html" %}
{% endblock %}

{% block card_html_top %}
{{ super() }}
{% include "jp-mining-note/cloze_deletion/partials/front_display.html" %}
{% endblock %}

{% block card_html_bottom %}

{{ def_header() }}

<div class="back-side-restrict-width">

  {% include "jp-mining-note/partials/full_sentence.html" %}


  <!-- hides primary definition since the definition is not important for this card -->
  {% set _use_external_links = COMPILE_OPTIONS("externalLinks").item() and COMPILE_OPTIONS("externalLinksPosition").item() == "Primary Definition" %}

  {% if not _use_external_links %}
  <div class="outer-display1
      {% call utils.if_none('PrimaryDefinition', 'PrimaryDefinitionPicture') %}
        outer-display2
      {% endcall %}"
     >
  {% endif %}

    <details class="glossary-details" id="primary_definition_details inner-display1">
      <summary>{{ TRANSLATOR.get('primary-definition') }}</summary>
      {% include "jp-mining-note/partials/primary_definition.html" %}
    </details>

    <div class="glossary-details glossary-details--grey inner-display2">
      {{ TRANSLATOR.get('primary-definition') }}
    </div>

  {% if not _use_external_links %}
  </div>
  {% endif %}


  {% include "jp-mining-note/partials/other_definitions.html" %}

</div>


{% endblock %}

{#{% block javascript %}
{{ super() }}
{% include "jp-mining-note/base_back.js" %}
{% endblock %}#}



