{% extends "jp-mining-note/base.html" %}

{% set note = namespace() %}
{% set note.side = "front" %}
{% set note.card_type = "cloze_deletion" %}
{% set note.field_restrict = ["SeparateAudioCard", "SentenceAudio"] %}

{% block card_type %}
{{ super() }}
{% include "jp-mining-note/cloze_deletion/partials/card_type.html" %}
{% endblock %}

{% block card_html %}
{{ super() }}
{% include "jp-mining-note/cloze_deletion/partials/front_display.html" %}

<div>
{% call IF("SentenceAudio") %}
  <span id="sentence_audio"> {{ T("SentenceAudio") }} </span>
{% endcall %}
</div>

{% endblock %}


{#{% block javascript %}
{{ super() }}
{% include "jp-mining-note/base.js" %}
{% endblock %}#}
