hostname {{ hostname }}

no ip domain lookup
ip domain name local.lab
ip name-server {{ name_server_pri }}
ip name-server {{ name_server_sec }}

ntp server {{ ntp_server_pri }} prefer
ntp server {{ ntp_server_sec }}



<script>
  var logger = (function () {
    let my = {};

    let _appendMsg = function(message, groupEle) {
      var msgEle = document.createElement('div');
      msgEle.textContent = message;
      groupEle.appendChild(msgEle);
    }

    my.error = function(message) {
      var groupEle = document.getElementById("info_circle_text_error");
      _appendMsg(message, groupEle);
      var infoCirc = document.getElementById("info_circle");
      if (!infoCirc.classList.contains("info-circle-error")) {
        infoCirc.classList.add("info-circle-error")
      }
    }

    my.assert = function(condition, message) {
      if (!condition) {
        my.error("(assert) " + message);
      }
    }

    my.warn = function(message) {
      var groupEle = document.getElementById("info_circle_text_warning");
      _appendMsg(message, groupEle);
      var infoCirc = document.getElementById("info_circle");
      if (!infoCirc.classList.contains("info-circle-warning")) {
        infoCirc.classList.add("info-circle-warning")
      }
    }

    my.info = function(message) {
      var groupEle = document.getElementById("info_circle_text_info");
      _appendMsg(message, groupEle);
    }


    my.leech = function() {
      var groupEle = document.getElementById("info_circle_text_leech");
      _appendMsg("", groupEle);
      var infoCirc = document.getElementById("info_circle");
      if (!infoCirc.classList.contains("info-circle-leech")) {
        infoCirc.classList.add("info-circle-leech")
      }
    }

    return my;
  }());
</script>
