{# impl #}
<!--
  fallback card card html
  - in css: default hybrid css, but with hover instead of click
  - checkbox is here specifically so hybridClick() works on hover cards
-->

<input
  type="checkbox"
  class="hybrid-click-toggle hidden"
  id="hybrid_click_toggle"
  {% if not COMPILE_OPTIONS("allowClickToggleOnHoverCards").item() %}
  disabled="disabled"
  {% endif %}
>
<label class="expression__hybrid expression__hybrid--hover
              {% call IF('IsHintCard') %} expression__hybrid--hint {% endcall %}
              "
    for="hybrid_click_toggle" id="display">

  <div class="expression--word expression__hybrid-word
      {% call IF('IsTargetedSentenceCard') %} expression__hybrid-word--sentence-indicator {% endcall %}
      {% call IFNOT('IsTargetedSentenceCard') %}
        {% call IF('IsSentenceCard') %} expression__hybrid-word--sentence-indicator {% endcall %}
        {% call IFNOT('IsSentenceCard') %} expression__hybrid-word--word-indicator {% endcall %}
      {% endcall %}
      expression__hybrid-word--hover-indicator"
      id="hybrid-word">
    {{ utils.prioritize_alt_display("Word") }}
  </div>

  <div class="expression--sentence expression__hybrid-sentence
               {% call IFNOT('IsSentenceCard') %} highlight-bold {% endcall %}
               {% call IF('IsTargetedSentenceCard') %} highlight-bold {% endcall %}
               {% call IF('IsHintCard') %} expression--hint-sentence {% endcall %}
               {{ utils.default_disp_sent_quote_class() }}
               "
        id="hybrid-sentence">
    {{ utils.prioritize_alt_display("Sentence", sentence=True) }}
  </div>

</label>
