{# impl #}

<div class="expression">

  {% call IF("IsAudioCard") %}
    {% filter indent(4) %}
    {% include "jp-mining-note/main/partials/display/audio.html" %}
    {% endfilter %}
  {% endcall %} {# IF IsAudioCard #}

  {% call IFNOT("IsAudioCard") %}
    {% call IF("IsSentenceFirstCard") %}
      {% filter indent(4) %}
      {% include "jp-mining-note/main/partials/display/sentence_first.html" %}
      {% endfilter %}
    {% endcall %} {# IF IsSentenceFirstCard #}

    {% call IFNOT("IsSentenceFirstCard") %}
      {% call IF("IsHoverCard") %}
        {% filter indent(6) %}
        {% include "jp-mining-note/main/partials/display/hover.html" %}
        {% endfilter %}
      {% endcall %} {# IF IsHoverCard #}

      {% call IFNOT("IsHoverCard") %}
        {% call IF("IsClickCard") %}
          {% filter indent(8) %}
          {% include "jp-mining-note/main/partials/display/click.html" %}
          {% endfilter %}
        {% endcall %} {# IF IsClickCard #}

        {% call IFNOT("IsClickCard") %}

          {% call IF("IsHintCard") %}
            {% filter indent(10) %}
            {% include "jp-mining-note/main/partials/display/hint.html" %}
            {% endfilter %}
          {% endcall %}

          {% call IFNOT("IsHintCard") %}

            {% call IF("IsTargetedSentenceCard") %}
              {% filter indent(12) %}
              {% include "jp-mining-note/main/partials/display/tsc.html" %}
              {% endfilter %}
            {% endcall %}

            {% call IFNOT("IsTargetedSentenceCard") %}
              {% call IF("IsSentenceCard") %}
                {% filter indent(14) %}
                {% include "jp-mining-note/main/partials/display/sentence.html" %}
                {% endfilter %}
              {% endcall %}

              {% call IFNOT("IsSentenceCard") %}
                {% filter indent(14) %}
                {% include "jp-mining-note/main/partials/display/word.html" %}
                {% endfilter %}
              {% endcall %}
            {% endcall %} {# ISNOT IsTargetedSentenceCard #}

          {% endcall %} {# ISNOT IsHintCard #}

        {% endcall %} {# IFNOT IsClickCard #}

      {% endcall %} {# IFNOT IsHoverCard #}

    {% endcall %} {# IFNOT IsSentenceFirstCard #}

  {% endcall %} {# IFNOT IsAudioCard #}

</div> <!-- expression box -->

{% include "jp-mining-note/partials/hint.html" %}
