{% extends "jp-mining-note/base_back.html" %}

{% set note = namespace() %}
{% set note.side = "back" %}
{% set note.card_type = "pa_sent" %}

{% from "jp-mining-note/pa_sent/common.html" import card_type, front_display with context %}

{% block card_type %}
{{ super() }}
{{ card_type }}
{% endblock %}

{% block card_html_top %}
{{ super() }}
{{ front_display }}
{% endblock %}

{% block card_html_bottom %}

{{ common.def_header(border_class="dh-left--blue-border") }}

<div id="back_side" class="back-side">

{{ common.full_sentence }}
{{ common.all_definitions }}

{% endblock %}

{% block javascript %}
{{ super() }}
{% include "jp-mining-note/pa_sent/back.js" %}
{% endblock %}



