{% extends "cards/base_back.html" %}

{% set note = namespace() %}
{% set note.side = "back" %}
{% set note.card_type = "main" %}

{% from "cards/main/common.html" import card_type, front_display with context %}

{% block card_type %}
  {{ super() }}
  {{ card_type }}
{% endblock %}

{% block card_html_top %}
  {{ super() }}
  {{ front_display }}
{% endblock %}

{% block card_html_bottom %}
  {{ super() }}
{% endblock %}

{% block javascript %}
  {{ super() }}
  {% include "js/main/back.js" %}
{% endblock %}


