anki==2.1.54
beautifulsoup4==4.11.1
certifi==2022.6.15
charset-normalizer==2.1.0
decorator==5.1.1
distro==1.7.0
idna==3.3
Jinja2==3.1.2
Markdown==3.4.1
MarkupSafe==2.1.1
orjson==3.7.12
protobuf==4.21.5
PySocks==1.7.1
requests==2.28.1
soupsieve==2.3.2.post1
urllib3==1.26.11
