{# impl #}

{% call IF("IsHoverCard") %}
  Hover ({% call IF("IsSentenceCard") %}Sentence{% endcall %}{% call IFNOT("IsSentenceCard") %}Word{% endcall %})
{% endcall %}


{% call IFNOT("IsHoverCard") %}

  {% call IF("IsClickCard") %}
    Click ({% call IF("IsSentenceCard") %}Sentence{% endcall %}{% call IFNOT("IsSentenceCard") %}Word{% endcall %})
  {% endcall %}

  {% call IFNOT("IsClickCard") %}
    {% call IF("IsTargetedSentenceCard") %}
      TSC
    {% endcall %}
    {% call IFNOT("IsTargetedSentenceCard") %}
      {% call IF("IsSentenceCard") %}
        Sentence
      {% endcall %}
      {% call IFNOT("IsSentenceCard") %}
        Word
      {% endcall %}
    {% endcall %}  {# NOT IsTargetedSentenceCard #}
  {% endcall %}  {# NOT IsClickCard #}
{% endcall %} {# NOT IsHoverCard #}

{% call IF("PAShowInfo") %}

  /

  <!-- PADoNotTest or PASeparateWordCard == none -->
  {% call utils.any_of("PADoNotTest", "PASeparateWordCard") %}
    None
  {% endcall %}

  <!-- neither PADoNotTest, PASeparateWordCard are filled -->
  <!-- we then test the PA somewhere -->
  {% call utils.none_of("PADoNotTest", "PASeparateWordCard") %}

    <!-- PASeparateSentenceCard or PATestOnlyWord == word -->
    {% call utils.any_of("PASeparateSentenceCard", "PATestOnlyWord") %}
      Word
    {% endcall %}

    <!-- if none of the above, then we test the default value -->
    {% call utils.none_of("PASeparateSentenceCard", "PATestOnlyWord") %}

      <!-- note: default for TSC is test word, may change in the future... -->
      {% call IF("IsSentenceCard") %}
        Sentence
      {% endcall %}
      {% call IFNOT("IsSentenceCard") %}
        Word
      {% endcall %}

    {% endcall %}

  {% endcall %}

{% endcall %} {# IF PAShowInfo #}

