{# gamer #}

{% from "macros/global.html" import T, IF, IFNOT, END with context %}
{% import "macros/utils.html" as utils with context %}

{% import "jp-mining-note/common.html" as common with context %}


{% call IF("FrequenciesStylized") %}
  {{ T("FrequenciesStylized") }}
{% endcall %}


<script>
{% block top_javascript %}
{% include "jp-mining-note/logger.js" %}
{% endblock %}
</script>

<script onerror="optionsNotFound();" src="_jpmn-options.js"></script>


<!-- hidden fields
     used instead of inserting a template directly into javascript code
     in order to prevent escaping errors (e.g. if the field contains a `"`)
-->
<div class="hidden">
  <div id="hidden_pa_positions">{{ T('PAPositions') }}</div>
  <div id="hidden_word_reading">{{ T('WordReading') }}</div>
  <div id="hidden_ajt_word_pitch">{{ T('AJTWordPitch') }}</div>
  <div id="hidden_pa_override">{{ T('PAOverride') }}</div>
  <div id="tags">{{ T('Tags') }}</div>
</div>



<div class="card-description">
  {% filter indent(width=2) %}

  {% block card_type %}
  {% endblock %}

  {{ common.info_circle }}

  {{ common.version }}

  {% endfilter %}
</div>


{% block card_html_top %}
{% endblock %}

{{ common.answer_border }}


{% block card_html_bottom %}

{{ common.def_header() }}

<div id="back_side" class="back-side">

{{ common.full_sentence }}
{{ common.all_definitions }}

{% endblock %}

</div> <!-- backside -->


<!--
  https://codeconvey.com/html-image-zoom-on-click/
  http://www.liangshunet.com/en/202005/743233073.htm
  https://stackoverflow.com/questions/8449933/how-to-transition-css-display-opacity-properties
  https://www.javascripttutorial.net/dom/css/add-styles-to-an-element/
  https://stackoverflow.com/questions/507138/how-to-add-a-class-to-a-given-element
-->
<!-- The Modal -->
<div id="modal" class="modal">
  <img class="modal-img" id="bigimg">
</div>


<script>
{% block javascript %}
{% endblock %}
</script>





