{# test #}

{%- from "macros/global.html" import T, IF, IFNOT, END with context -%}
{%- import "macros/utils.html" as utils with context -%}

{%- import "jp-mining-note/common.html" as common with context -%}

{{ common.compile_options_comment }}

<script>
{% block top_javascript %}
{% include "jp-mining-note/logger.js" %}
{% endblock %}
</script>

<script onerror="optionsNotFound();" src="_jpmn-options.js"></script>


<div class="card-description">
  {% filter indent(width=2) %}

  {% block card_type %}
  {% endblock %}

  {{ common.info_circle }}

  {{ common.version }}

  {% endfilter %}
</div>


{% block card_html %}
{% endblock %}



<script>
{% block javascript %}
{% endblock %}
</script>





