{# impl #}
<div class="outer-display1
    {% call utils.if_none('AdditionalNotes', 'Context') %}
      outer-display2
    {% endcall %}"
  >

  <!-- only showed if outer-display2 doesn't exist -->
  <details class="glossary-details glossary-details--small inner-display1" id="additional_notes_details">
    <summary>Additional Notes</summary>
    <blockquote class="glossary-blockquote glossary-blockquote--small highlight-bold">
      <div class="glossary-text glossary-text--additional-notes">
        {{ T("AdditionalNotes") }}
        <div style="font-size: 0px"><br></div>
        <!-- The above is a hack to allow a user to triple-click the definition
          without selecting everything below the line.
          This seems to ONLY affect the texthooker page;
          regular copy/pastes through everything I tried
          (pyperclip, text editor paste, pasting into Anki, etc)
          does not suffer from this problem.
          I figure that adding this shouldn't affect anything
        -->
      </div>
      <div class="glossary-text glossary-text--context" id="glossary_text_context">
        {{ T("Context") }}
        <div style="font-size: 0px"><br></div>
      </div>
    </blockquote>
  </details>

  <!-- only showed if outer-display2 exists -->
  <div class="glossary-details glossary-details--small glossary-details--grey inner-display2">
    Additional Notes
  </div>
</div>
