{# impl #}
{% call IF("AdditionalNotes") %}
  <details class="glossary-details glossary-details--small" id="additional_notes_details">
    <summary>{{ TRANSLATOR.get('additional-notes') }}</summary>
    <blockquote class="glossary-blockquote glossary-blockquote--small highlight-bold">
      <div class="glossary-text glossary-text--additional-notes">
        <span class="glossary-text--raw-text">{{ T("AdditionalNotes") }}</span>
        {% filter indent(8) %}
        {% include "jp-mining-note/partials/0pxdiv.html" %}
        {% endfilter %}
      </div>
    </blockquote>
  </details>
{% endcall %}
{% call IFNOT("AdditionalNotes") %}
  <div class="glossary-details glossary-details--small glossary-details--grey">
    {{ TRANSLATOR.get('additional-notes') }}
  </div>
{% endcall %}
