{# impl #}

{% for id, val in COMPILE_OPTIONS("externalLinks").dict().items() %}

  {% set hover_value = val["hoverDisplay"] if "hoverDisplay" in val else id %}
  <a data-details="{{ id }}" data-suppress-link-hover="true" href="{{ val["url"] }}" title="{{ hover_value }}">

    <div class="glossary__external-links-inner">
      {%- if val["iconType"] == "image" -%}
        <img data-do-not-convert="do-not-convert"
             class="show-on-light-mode-only"
             src="{{ val["iconImageLight"] }}">
        <img data-do-not-convert="do-not-convert"
             class="show-on-dark-mode-only"
             src="{{ val["iconImageDark"] }}">
      {%- else -%}
        {# assumed == text #}
        {{- val["iconText"] -}}
      {%- endif -%}
    </div>

  </a>

{% endfor %}

