{# extra info #}

{% if not COMPILE_OPTIONS("external-links").item() %}
<div class="outer-display1
    {% call utils.if_none('PAGraphs', 'UtilityDictionaries') %}
      outer-display2
    {% endcall %}"
  id="display">
{% endif %}

  <!-- only showed if outer-display2 doesn't exist -->
  <details class="glossary-details glossary-details--small inner-display1" id="extra_info_details">
    <summary>Extra Info</summary>
    <blockquote class="glossary-blockquote glossary-blockquote--small highlight-bold">
      <div class="glossary-text glossary-text--extra-info">
        {% call utils.if_any("PAGraphs", "UtilityDictionaries") %}

          <div class="glossary-text--extra-info-main-content">

            {% call IF("PAGraphs") %}
              <div class="pa-graphs">
                {{ T("PAGraphs") }}
              </div>
            {% endcall %}

            {% call IF("UtilityDictionaries") %}
              <div class="utility-dicts">
                {{ T("UtilityDictionaries") }}
              </div>
            {% endcall %}

          </div>

        {% endcall %}

        <div class="
          glossary__external-links
          {# if nothing is being shown in extra definitions, then the full row is used to show external links #}
          {% call utils.if_none('PAGraphs', 'UtilityDictionaries') %}
          glossary__external-links--full-row
          {% endcall %}
          ">

          {% for id, val in COMPILE_OPTIONS("external-links").dict().items() %}

            {% set hover_value = val["hover-display"] if "hover-display" in val else id %}
            <a data-details="{{ id }}" href="{{ val["url"] }}" title="{{ hover_value }}">

            {% if val["icon-type"] == "image" %}
              <img data-do-not-convert="do-not-convert"
                   class="show-on-light-mode-only"
                   src="{{ val["icon-image-light"] }}">
              <img data-do-not-convert="do-not-convert"
                   class="show-on-dark-mode-only"
                   src="{{ val["icon-image-dark"] }}">
            {% else %}
              {# assumed == text #}
              {{ val["icon-text"] }}
            {% endif %}

            </a>

          {% endfor %}

        </div>

      </div>
    </blockquote>
  </details>

{% if not COMPILE_OPTIONS("external-links").item() %}

  <!-- only showed if outer-display2 exists -->
  <div class="glossary-details glossary-details--small glossary-details--grey inner-display2">
    Extra Info
  </div>

</div>
{% endif %}

