<details class="glossary-details glossary-details--small" id="extra_info_details">
<summary>Extra Info</summary>
<blockquote class="glossary-blockquote glossary-blockquote--small highlight-bold">
  <div class="glossary-text glossary-text--extra-info">

    {% call utils.if_any("PAGraphs", "UtilityDictionaries") %}

      <div class="glossary-text--extra-info-main-content">

        {% call IF("PAGraphs") %}
          <div class="pa-graphs">
            {{ T("PAGraphs") }}
          </div>
        {% endcall %}

        {% call IF("UtilityDictionaries") %}
          <div class="utility-dicts">
            {{ T("UtilityDictionaries") }}
          </div>
        {% endcall %}

      </div>

    {% endcall %}

    {% if COMPILE_OPTIONS("external-links").item() %}
      <div class="glossary__external-links">
        <div class="glossary__external-links--title">External Links</div>
        <ul class="glossary__external-links--list">

          {% for name, link in COMPILE_OPTIONS("external-links").dict().items() %}
            <li>
              <a href="{{ link}} ">{{ name }}</a>
            </li>
          {% endfor %}

        </ul>
      </div>
    {% endif %}

  </div>
</blockquote>
</details>
