{# extra info #}

{% set _use_external_links = COMPILE_OPTIONS("externalLinks").item() and COMPILE_OPTIONS("externalLinksPosition").item() == "Extra Info" %}
{% if not _use_external_links %}
<!-- no external links, or external links but not shown here -->
<div class="outer-display1
    {% call utils.if_none('PAGraphs', 'UtilityDictionaries') %}
      outer-display2
    {% endcall %}"
    id="extra_info_outer_display"
  >
{% endif %}

  <!-- only showed if outer-display2 doesn't exist -->
  <details class="glossary-details glossary-details--small inner-display1" id="extra_info_details">
    <summary>{{ TRANSLATOR.get('extra-info') }}</summary>
    <blockquote class="glossary-blockquote glossary-blockquote--small highlight-bold">
      <div class="glossary-text glossary-text--extra-info">

        {% if _use_external_links %}
          <div class="glossary__external-links glossary__external-links--float">

            {% include "jp-mining-note/partials/external_links.html" %}

          </div>
        {% endif %}


        {% call utils.if_any("PAGraphs", "UtilityDictionaries") %}

          <div class="glossary-text--extra-info-main-content">

            {% call IF("PAGraphs") %}
              <div class="pa-graphs">
                {{ T("PAGraphs") }}
              </div>
            {% endcall %}

            {% call IF("UtilityDictionaries") %}
              <div class="utility-dicts">
                <span class="glossary-text--raw-text">{{ T("UtilityDictionaries") }}</span>
              </div>
            {% endcall %}

          </div>

        {% endcall %}

      </div>
    </blockquote>
  </details>

{% if not _use_external_links %}

  <!-- only showed if outer-display2 exists -->
  <div class="glossary-details glossary-details--small glossary-details--grey inner-display2">
    {{ TRANSLATOR.get('extra-info') }}
  </div>

</div>
{% endif %}

