{# impl #}
{% call IF("ExtraDefinitions") %}
  <details class="glossary-details glossary-details--small" id="extra_definitions_details">
    <summary>Extra Definitions</summary>
    <blockquote class="glossary-blockquote glossary-blockquote--small highlight-bold">
      <div class="glossary-text glossary-text--extra-definitions">
        {{ T("ExtraDefinitions") }}
        {% filter indent(8) %}
        {% include "jp-mining-note/partials/0pxdiv.html" %}
        {% endfilter %}
      </div>
    </blockquote>
  </details>
{% endcall %}
{% call IFNOT("ExtraDefinitions") %}
  <div class="glossary-details glossary-details--small glossary-details--grey">
    Extra Definitions
  </div>
{% endcall %}
