{# impl #}


{% call IF("SentenceReading") %}
<div class="full-sentence-center">
  <input
    type="checkbox"
    class="full-sentence-toggle hidden"
    id="full_sentence_toggle"
    {% if COMPILE_OPTIONS("full-sentence-ruby", "display-mode").item() == "hover" %}
    disabled="disabled"
    {% endif %}
  >
  <label class="
        full-sentence highlight-bold
        {% if COMPILE_OPTIONS("full-sentence-ruby", "display-mode").item() == "hover" %}
        full-sentence--ruby-hover
        {% elif COMPILE_OPTIONS("full-sentence-ruby", "display-mode").item() == "click" %}
        full-sentence--ruby-toggle
        {% else %}
        full-sentence--ruby-hover
        full-sentence--ruby-toggle
        {% endif %}
        {% if COMPILE_OPTIONS("full-sentence-ruby", "fill-mode").item() == "opacity" %}
        full-sentence--ruby-opacity
        {% else %}
        full-sentence--ruby-size
        {% endif %}
        {% if COMPILE_OPTIONS("full-sentence-ruby", "fill-mode-font-size-transition").item() %}
        full-sentence--ruby-size-transition
        {% endif %}
      "
      for="full_sentence_toggle"
      id="full_sentence">
    {{ T("furigana:SentenceReading") }}
  </label>
</div>
{% endcall %}

{# so ruby classes do not affect things without ruby #}
{% call IFNOT("SentenceReading") %}
<div class="full-sentence-center">
  <div class="full-sentence highlight-bold" id="full_sentence">
    {{ T("Sentence") }}
  </div>
</div>
{% endcall %}
