{# impl #}
<span class="info-circle info-circle--hover-color" id="info_circle">
  <span class="info-circle-svg-wrapper info-circle-svg-wrapper--hoverable", id="info_circle_wrapper">
{% filter indent(4) %}
{% include "jp-mining-note/partials/info_circle_svg.html" %}
{% endfilter %}
  </span>

  <span class="info-circle-text-wrapper" id="info_circle_text_wrapper">
    <span class="info-circle-text" id="info_circle_text">
      <div class="info-circle-text-settings hidden" id="info_circle_text_settings">
        <div class="hidden" id="info_circle_text_settings_img_blur_toggle">
          <svg class="hidden" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M12 9a3 3 0 0 0-3 3 3 3 0 0 0 3 3 3 3 0 0 0 3-3 3 3 0 0 0-3-3m0 8a5 5 0 0 1-5-5 5 5 0 0 1 5-5 5 5 0 0 1 5 5 5 5 0 0 1-5 5m0-12.5C7 4.5 2.73 7.61 1 12c1.73 4.39 6 7.5 11 7.5s9.27-3.11 11-7.5c-1.73-4.39-6-7.5-11-7.5Z"/><title>Toggle blur</title></svg>
          <svg class="hidden" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M11.83 9 15 12.16V12a3 3 0 0 0-3-3h-.17m-4.3.8 1.55 1.55c-.05.21-.08.42-.08.65a3 3 0 0 0 3 3c.22 0 .44-.03.65-.08l1.55 1.55c-.67.33-1.41.53-2.2.53a5 5 0 0 1-5-5c0-.79.2-1.53.53-2.2M2 4.27l2.28 2.28.45.45C3.08 8.3 1.78 10 1 12c1.73 4.39 6 7.5 11 7.5 1.55 0 3.03-.3 4.38-.84l.43.42L19.73 22 21 20.73 3.27 3M12 7a5 5 0 0 1 5 5c0 .64-.13 1.26-.36 1.82l2.93 2.93c1.5-1.25 2.7-2.89 3.43-4.75-1.73-4.39-6-7.5-11-7.5-1.4 0-2.74.25-4 .7l2.17 2.15C10.74 7.13 11.35 7 12 7Z"/><title>Toggle blur</title></svg>
          <svg class="hidden info-circle-text-settings__svg--red" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M11.83 9 15 12.16V12a3 3 0 0 0-3-3h-.17m-4.3.8 1.55 1.55c-.05.21-.08.42-.08.65a3 3 0 0 0 3 3c.22 0 .44-.03.65-.08l1.55 1.55c-.67.33-1.41.53-2.2.53a5 5 0 0 1-5-5c0-.79.2-1.53.53-2.2M2 4.27l2.28 2.28.45.45C3.08 8.3 1.78 10 1 12c1.73 4.39 6 7.5 11 7.5 1.55 0 3.03-.3 4.38-.84l.43.42L19.73 22 21 20.73 3.27 3M12 7a5 5 0 0 1 5 5c0 .64-.13 1.26-.36 1.82l2.93 2.93c1.5-1.25 2.7-2.89 3.43-4.75-1.73-4.39-6-7.5-11-7.5-1.4 0-2.74.25-4 .7l2.17 2.15C10.74 7.13 11.35 7 12 7Z"/><title>Toggle blur</title></svg>
        </div>
        <div class="hidden" id="info_circle_text_settings_websocket_toggle">
          <svg class="hidden" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="m20.84 22.73-5.53-5.53-.81.8v3h-5v-3L6 14.5V9c0-.3.1-.59.25-.86L1.11 3l1.28-1.27 19.72 19.73-1.27 1.27M18 14.5V9c0-1-1-2-2-2V3h-2v4h-3.8l7.65 7.65.15-.15M10 3H8v1.8l2 2V3Z"/><title>Toggle websocket</title></svg>
          <svg class="hidden" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M16 7V3h-2v4h-4V3H8v4C7 7 6 8 6 9v5.5L9.5 18v3h5v-3l3.5-3.5V9c0-1-1-2-2-2Z"/><title>Toggle websocket</title></svg>
        </div>
        <div class="hidden" id="info_circle_text_settings_refresh_card">
          <svg class="hidden" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M17.65 6.35A7.958 7.958 0 0 0 12 4a8 8 0 0 0-8 8 8 8 0 0 0 8 8c3.73 0 6.84-2.55 7.73-6h-2.08A5.99 5.99 0 0 1 12 18a6 6 0 0 1-6-6 6 6 0 0 1 6-6c1.66 0 3.14.69 4.22 1.78L13 11h7V4l-2.35 2.35Z"/><title>Refresh card</title></svg>
        </div>
        <div class="hidden" id="info_circle_text_settings_clear_cache">
          <svg class="hidden" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M9 3v1H4v2h1v13a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V6h1V4h-5V3H9M7 6h10v13H7V6m2 2v9h2V8H9m4 0v9h2V8h-2Z"/><title>Clear the cache</title></svg>
        </div>
      </div>
      <div class="info-circle-text-settings-border hidden" id="info_circle_text_settings_border"></div>

      <div class="info-circle-text-error" id="info_circle_text_error"></div>
      <div class="info-circle-text-warning" id="info_circle_text_warning"></div>
      <div class="info-circle-text-leech" id="info_circle_text_leech"></div>

      <div class="info-circle-text-info" id="info_circle_text_info">
        <div>
          Need help? View the
          <a href="https://aquafina-water-bottle.github.io/jp-mining-note/">documentation</a>.
        </div>
        <div>
          Have an issue?
          <a href="https://github.com/Aquafina-water-bottle/jp-mining-note/issues">Report it here</a>.
        </div>
        <div>
          View the
          <a href="https://github.com/Aquafina-water-bottle/jp-mining-note">source code</a>.
        </div>
        <!-- TODO change to contact-me section instead of just discord -->
        <div>
          Have questions or feedback?
          <a href="https://aquafina-water-bottle.github.io/jp-mining-note/faq/#discord-contact-info">Contact me!</a>
        </div>
      </div>

      <div class="info-circle-text-debug" id="info_circle_text_debug"></div>

    </span>

  </span>
</span>
