{# impl #}
<span class="card-description__word-indicators" id="ic_similar_words_indicators">
  <span class="card-description__word-indicator hidden" id="ic_same_word_indicator">
    同 <!-- 同じ -->
  </span>
  <span class="card-description__word-indicator hidden" id="ic_same_kanji_indicator">
    字 <!-- 文字 -->
  </span>
  <span class="card-description__word-indicator hidden" id="ic_same_reading_indicator">
    読 <!-- 読み方 (chosen over something like 音 because pitch can be different) -->
  </span>
</span>


