{# mobile popup #}

{#
<div class="mobile-popup-wrapper hidden" id="mobile_popup_wrapper">
  <div class="mobile-popup" id="mobile_popup">
    <div class="mobile-popup-title" id="mobile_popup_title">
      <div class="mobile-popup-title-text" id="mobile_popup_title_text">
      </div>
      <div class="mobile-popup-title-close" id="mobile_popup_title_close">
        {% include "jp-mining-note/partials/close.svg" %}
      </div>
    </div>
    <div class="mobile-popup-text" id="mobile_popup_text">
    </div>
  </div>
</div>
#}

<div class="mobile-popup-wrapper hidden" id="mobile_popup_wrapper">
  <div class="mobile-popup" id="mobile_popup">
    <div class="mobile-popup-title-close" id="mobile_popup_title_close">
      {% include "jp-mining-note/partials/close.svg" %}
    </div>
    <div class="mobile-popup-text" id="mobile_popup_text">
    </div>
  </div>
</div>
