{# impl #}
{% call IF("SecondaryDefinition") %}
  <details class="glossary-details" id="secondary_definition_details">
    <summary>{{ TRANSLATOR.get('secondary-definition') }}</summary>
    <blockquote class="glossary-blockquote highlight-bold">
      <div class="glossary-text glossary-text--secondary-definition">
        {{ T("SecondaryDefinition") }}
        {% filter indent(8) %}
        {% include "jp-mining-note/partials/0pxdiv.html" %}
        {% endfilter %}
      </div>
    </blockquote>
  </details>
{% endcall %}
{% call IFNOT("SecondaryDefinition") %}
  <div class="glossary-details glossary-details--grey">
    {{ TRANSLATOR.get('secondary-definition') }}
  </div>
{% endcall %}
