<span class="dh-left__similar-words-indicators" id="similar_words_indicators">
  <span class="
      dh-left__similar-words-indicator
      dh-left__same-word-indicator
      hover-wrapper
      " id="same_word_indicator">
    <span class="hover-text hover-text--similar-words-indicator">
      <!--Ｓ--> <!-- (Same) Word -->
      同 <!-- 同じ -->
    </span>
    <span class="hover-tooltip-wrapper hover-tooltip-wrapper--similar-words-indicator">
      <span class="hover-tooltip hover-tooltip--similar-words-indicator" id="same_word_indicator_tooltip"> ... </span>
    </span>
  </span>

  <span class="
      dh-left__similar-words-indicator
      dh-left__same-kanji-indicator
      hover-wrapper
      " id="same_kanji_indicator">
    <span class="hover-text hover-text--similar-words-indicator">
      <!--Ｋ--> <!-- Kanji -->
      漢 <!-- 漢字 -->
    </span>
    <span class="hover-tooltip-wrapper hover-tooltip-wrapper--similar-words-indicator">
      <span class="hover-tooltip hover-tooltip--similar-words-indicator" id="same_kanji_indicator_tooltip"> ... </span>
    </span>
  </span>

  <span class="
      dh-left__similar-words-indicator
      dh-left__word-indicators
      hover-wrapper
      " id="same_reading_indicator">
    <span class="hover-text hover-text--similar-words-indicator">
      <!--Ｒ--> <!-- Reading -->
      読 <!-- 読み方 -->
    </span>
    <span class="hover-tooltip-wrapper hover-tooltip-wrapper--similar-words-indicator">
      <span class="hover-tooltip hover-tooltip--similar-words-indicator" id="same_reading_indicator_tooltip"> ... </span>
    </span>
  </span>

</span>

