/*
 * customization for specific dictionaries
 */

@use "../base/common" as common;

@mixin jmdict_compact {

  li[data-details="JMdict (English)"] .dict-group__glossary,
  li[data-details="JMdict"] .dict-group__glossary,
  li[data-details="JMdict Extra"] .dict-group__glossary {

    > ul, ul[data-sc-content="glossary"] {
      display: inline;
      padding-left: 0em;

      > li {
        display: inline;
        padding-right: 0em;
        margin-right: 0em;
      }

      > li::after {
        content: " | ";
        white-space: pre-wrap;
      }
      > li:last-of-type:after {
        display: none;
      }
    }

  }

  //.dict-group__glossary ul[data-sc-content="glossary"] {
  //  display: inline;
  //  padding-left: 0em;

  //  li {
  //    display: inline;
  //    padding-right: 0em;
  //    margin-right: 0em;
  //  }
  //  li::after {
  //    content: " | ";
  //    white-space: pre-wrap;
  //    //color: var(--text-color--3);
  //  }
  //  li:last-of-type:after {
  //    display: none;
  //  }
  //}



}


/* Makes JMdict italic */
.glossary-text ol li[data-details="JMdict (English)"],
.glossary-text ol li[data-details="JMdict"],
.glossary-text ol li[data-details="JMdict Extra"] {
  .dict-group__tag-list {
    font-style: italic;
  }

  /* removes the dictionary entry for jmdict */
  .dict-group__tag-list .dict-group__tag--dict {
    display: none;
  }
}

/* Makes Nico/Pixiv italic */
.glossary-text ol li[data-details="Nico/Pixiv"] .dict-group__tag-list {
  font-style: italic;
}



/* Removes the extra text for the collapsed 新和英 display */
.glossary-text ol li[data-details="新和英"] details.glossary-text__details .glossary-text__summary .dict-group__glossary--first-line {
  display: none;
}



/* frequency names */

.frequencies__group[data-details="Anime & Jdrama Freq:"] .frequencies__dictionary .frequencies__dictionary-inner {
  display: none;
}
.frequencies__group[data-details="Anime & Jdrama Freq:"] .frequencies__dictionary:after {
  content: "A&J";
}
.frequencies__group[data-details="Anime & J-drama"] .frequencies__dictionary .frequencies__dictionary-inner {
  display: none;
}
.frequencies__group[data-details="Anime & J-drama"] .frequencies__dictionary:after {
  content: "A&J";
}


.frequencies__group[data-details="VN Freq"] .frequencies__dictionary .frequencies__dictionary-inner {
  display: none;
}
.frequencies__group[data-details="VN Freq"] .frequencies__dictionary:after {
  content: "VN";
}

.frequencies__group[data-details="VN Freq Percent"] .frequencies__dictionary .frequencies__dictionary-inner {
  display: none;
}
.frequencies__group[data-details="VN Freq Percent"] .frequencies__dictionary:after {
  content: "VN%";
}
.frequencies__group[data-details="VN Freq Percent"] .frequencies__number .frequencies__number-inner:after {
  content: "%";
}

.frequencies__group[data-details="Innocent Ranked"] .frequencies__dictionary .frequencies__dictionary-inner {
  display: none;
}
.frequencies__group[data-details="Innocent Ranked"] .frequencies__dictionary:after {
  content: "Inn.";
}


/* Custom highlights for NHK and 大辞泉 */

.pa-graphs__group[data-details="NHK"] .pa-graphs__dictionary {
  @include common.bold_highlight;
  font-weight:  bold;
}
.pa-graphs__group[data-details="大辞泉"] .pa-graphs__dictionary {
  @include common.bold_highlight;
  font-weight:  bold;
}


/*
 * TODO orthography dictionary
 *
 * ★  Common
 * ●  Valid
 * ⛬  Outdated
 * ⚠  Irregular
 * 🠋  Rarely-used kanji form
 *
 */

/* makes the symbols centered */
li[data-details="シン・漢字遣い参考"] td, [data-sc-ortho="table"] td {
  text-align: center;
  line-height: 150%
}

/* this says that the external link should take up 2 icon slots instead of 1 */
.glossary__external-links a[data-details="sakura-paris.org/dict"] {
  width: common.maxWidthForXIcons(2);
}


/* hides the button unless on android (since the app is only for android anyways) */
.glossary__external-links a[data-details="yomichan-textbender"] {
  display: none;
}
.android .glossary__external-links a[data-details="yomichan-textbender"] {
  display: inline;
}




/* better formatting for the new version of Yomichan JMdict dictionary (jmdict_extra) */

.glossary-text {
  @include jmdict_compact;
}

