{# impl #}


{% call IF("IsAudioCard") -%}
  {{- TRANSLATOR.get('card-type-main-audio') -}}
  {{- TRANSLATOR.get('card-type-open-bracket') -}}

  {%- call IF("IsSentenceCard") -%}
    {{- TRANSLATOR.get('card-type-main-sentence') -}}
  {%- endcall -%}
  {%- call IFNOT("IsSentenceCard") -%}
    {{- TRANSLATOR.get('card-type-main-word') -}}
  {%- endcall -%}

  {{- TRANSLATOR.get('card-type-close-bracket') -}}
{% endcall -%}

{% call IFNOT("IsAudioCard") -%}

  {% call IF("IsSentenceFirstCard") -%}
    {{- TRANSLATOR.get('card-type-main-sentence-first') -}}
    {{- TRANSLATOR.get('card-type-open-bracket') -}}

    {%- call IF("IsTargetedSentenceCard") -%}
      {{- TRANSLATOR.get('card-type-main-tsc') -}}
    {%- endcall -%}
    {%- call IFNOT("IsTargetedSentenceCard") -%}
      {{- TRANSLATOR.get('card-type-main-word') -}}
    {%- endcall -%}

    {{- TRANSLATOR.get('card-type-close-bracket') -}}
  {% endcall -%}

  {% call IFNOT("IsSentenceFirstCard") -%}

    {% call IF("IsHoverCard") -%}
      {{- TRANSLATOR.get('card-type-main-hover') -}}
      {{- TRANSLATOR.get('card-type-open-bracket') -}}

      {%- call IF("IsHintCard") -%}
        {{- TRANSLATOR.get('card-type-main-hint') -}}
      {%- endcall -%}

      {%- call IF("IsTargetedSentenceCard") -%}
        {{- TRANSLATOR.get('card-type-main-tsc') -}}
      {%- endcall -%}

      {%- call IFNOT("IsTargetedSentenceCard") -%}
        {%- call IF("IsSentenceCard") -%}
          {{- TRANSLATOR.get('card-type-main-sentence') -}}
        {%- endcall -%}
        {%- call IFNOT("IsSentenceCard") -%}
          {{- TRANSLATOR.get('card-type-main-word') -}}
        {%- endcall -%}

      {%- endcall -%} {# NOT IsTargetedSentenceCard #}

      {{- TRANSLATOR.get('card-type-close-bracket') -}}

    {%- endcall -%}


    {%- call IFNOT("IsHoverCard") -%}

      {%- call IF("IsClickCard") -%}
        {{- TRANSLATOR.get('card-type-main-click') -}}
        {{- TRANSLATOR.get('card-type-open-bracket') -}}

        {%- call IF("IsHintCard") -%}
          {{- TRANSLATOR.get('card-type-main-hint') -}}
        {%- endcall -%}

        {%- call IF("IsTargetedSentenceCard") -%}
          {{- TRANSLATOR.get('card-type-main-tsc') -}}
        {%- endcall -%}

        {%- call IFNOT("IsTargetedSentenceCard") -%}
          {%- call IF("IsSentenceCard") -%}
            {{- TRANSLATOR.get('card-type-main-sentence') -}}
          {%- endcall -%}
          {%- call IFNOT("IsSentenceCard") -%}
            {{- TRANSLATOR.get('card-type-main-word') -}}
          {%- endcall -%}

        {%- endcall -%} {# NOT IsTargetedSentenceCard #}

        {{- TRANSLATOR.get('card-type-close-bracket') -}}
      {%- endcall -%}

      {%- call IFNOT("IsClickCard") -%}

        {%- call IF("IsHintCard") -%}
          {{- TRANSLATOR.get('card-type-main-hint') -}}

          {%- call IF("IsTargetedSentenceCard") -%}
            {%- call IF("IsSentenceCard") -%}
              {# hint cards become a TSC if both IsTargetedSentenceCard and IsSentenceCard are filled #}
              {{- TRANSLATOR.get('card-type-main-tsc') -}}
            {%- endcall -%}

            {%- call IFNOT("IsSentenceCard") -%}
              {# IsTargetedSentenceCard by itself is still a word #}
              {{- TRANSLATOR.get('card-type-main-word') -}}
            {%- endcall -%}
          {%- endcall -%}

          {%- call IFNOT("IsTargetedSentenceCard") -%}
            {%- call IF("IsSentenceCard") -%}
              {{- TRANSLATOR.get('card-type-main-sentence') -}}
            {%- endcall -%}

            {%- call IFNOT("IsSentenceCard") -%}
              {{- TRANSLATOR.get('card-type-main-word') -}}
            {%- endcall -%}
          {%- endcall -%}

        {%- endcall -%} {# IS IsHintCard #}

        {%- call IFNOT("IsHintCard") -%}

          {%- call IF("IsTargetedSentenceCard") -%}
            {{- TRANSLATOR.get('card-type-main-tsc') -}}
          {%- endcall -%}

          {%- call IFNOT("IsTargetedSentenceCard") -%}
            {%- call IF("IsSentenceCard") -%}
              {{- TRANSLATOR.get('card-type-main-sentence') -}}
            {%- endcall -%}
            {%- call IFNOT("IsSentenceCard") -%}
              {{- TRANSLATOR.get('card-type-main-word') -}}
            {%- endcall -%}
          {%- endcall -%} {# NOT IsTargetedSentenceCard #}

        {%- endcall -%} {# NOT IsHintCard #}

      {%- endcall -%} {# NOT IsClickCard #}

    {%- endcall -%} {# NOT IsHoverCard #}

  {% endcall -%} {# NOT IsSentenceFirstCard #}

{% endcall -%} {# NOT IsAudioCard  #}



{%- call IF("PAShowInfo") -%}

  {{- TRANSLATOR.get('card-type-separator') -}}

  {#- PADoNotTest or PASeparateWordCard == none -#}
  {%- call utils.if_any("PADoNotTest", "PASeparateWordCard") -%}
    {{- TRANSLATOR.get('card-type-main-pitch-none') -}}
  {%- endcall -%}

  {#- neither PADoNotTest, PASeparateWordCard are filled -> we then test the PA somewhere -#}
  {%- call utils.if_none("PADoNotTest", "PASeparateWordCard") -%}

    {#- PASeparateSentenceCard or PATestOnlyWord == word -#}
    {%- call utils.if_any("PASeparateSentenceCard", "PATestOnlyWord") -%}
      {{- TRANSLATOR.get('card-type-main-word') -}}
    {%- endcall -%}

    {#- if none of the above, then we test the default value -#}
    {%- call utils.if_none("PASeparateSentenceCard", "PATestOnlyWord") -%}

      {#- note: default for TSC is test word, may change in the future... -#}
      {%- call IF("IsSentenceCard") -%}
        {{- TRANSLATOR.get('card-type-main-sentence') -}}
      {%- endcall -%}
      {%- call IFNOT("IsSentenceCard") -%}
        {{- TRANSLATOR.get('card-type-main-word') -}}
      {%- endcall -%}

    {%- endcall -%}

  {%- endcall -%}

{%- endcall %} {# IF PAShowInfo #}

