{# man #}

{% extends "jp-mining-note/base.html" %}

{% set note = namespace() %}
{% set note.side = "front" %}
{% set note.card_type = "pa_word" %}
{% set note.field_restrict = ["PASeparateWordCard"] %}

{% block card_type %}
{{ super() }}
{% include "jp-mining-note/pa_word/partials/card_type.html" %}
{% endblock %}

{% block card_html %}
{{ super() }}
{% include "jp-mining-note/pa_word/partials/front_display.html" %}
{% endblock %}


{#{% block javascript %}
{{ super() }}
{% include "jp-mining-note/base.js" %}
{% endblock %}#}


